html body {
    background-color: #fafafa;
    color: #212121;
    font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}

/* General ===================================== */
body {
	background-color: #e9e9e9;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	font-family: 'Roboto', Arial, Tahoma, sans-serif;
}

h1,h2,h3,h4,h5,h6 {font-weight: bold;}
a:active, a:focus, a:hover {text-decoration: none;}
button,input,select,a {outline: none !important;}
.btn:hover, .btn:focus, .btn.focus {color: #fff;}
label.error {color:#F44336;}
.no-animate {
	-o-transition-property: none !important;
	-moz-transition-property: none !important;
	-ms-transition-property: none !important;
	-webkit-transition-property: none !important;
	transition-property: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	-webkit-animation: none !important;
	-moz-animation: none !important;
	-o-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
}
section.content {
	margin: 100px 15px 0 315px;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s; 
}

/* Page Loader ================================= */
.page-loader-wrapper {
	z-index: 99999999;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #eee;
	overflow: hidden;
	text-align: center; 
}
.page-loader-wrapper p {
    font-size: 13px;
    margin-top: 10px;
    font-weight: bold;
    color: #444; 
}
.page-loader-wrapper .loader {
    position: relative;
    top: calc(50% - 30px); 
}

/* Navbars ===================================== */
.navbar {
	font-family: "Roboto", sans-serif;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	border: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 12;
	width: 100%; 
}
.navbar .navbar-brand {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
	overflow: hidden; 
}
.navbar .navbar-custom-right-menu {float: right;}
.navbar .navbar-toggle {
    text-decoration: none;
    color: #fff;
    width: 20px;
    height: 20px;
    margin-top: -4px;
	margin-right: 17px; 
}
.navbar .navbar-toggle:before {
	content: '\E8D5';
	font-family: 'Material Icons';
	font-size: 26px; 
}
.navbar .navbar-collapse.in {overflow: visible;}
.ls-closed .sidebar {margin-left: -300px;}
.ls-closed section.content {margin-left: 15px;}
.ls-closed .bars:after, .ls-closed .bars:before {
	font-family: 'Material Icons';
	font-size: 24px;
	position: absolute;
	top: 0;
	left: 20px;
	margin-right: 10px;
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s; 
}
.ls-closed .bars:before {
	content: '\E5D2';
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1); 
}
.ls-closed .bars:after {
	content: '\E5C4';
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0); 
}
.ls-closed .navbar-brand {
    line-height: 56px;
    padding: 0;
    height: 56px;
}
.overlay-open .bars:before {
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0); 
}
.overlay-open .bars:after {
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1); 
}
.navbar-header {padding: 7px;}
.navbar-header .bars {float: left;text-decoration: none;}
.navbar-nav > li > a {
	padding: 7px 7px 2px 7px;
	margin-top: 10px;
	margin-left: 5px;
}
.navbar-nav .dropdown-menu {margin-top: -40px !important;}
.teal.navbar .navbar-brand,
.teal.navbar .navbar-brand:hover,
.teal.navbar .navbar-brand:active,
.teal.navbar .navbar-brand:focus {
	color: #fff; 
}
.teal.navbar .nav > li > a:hover,
.teal.navbar .nav > li > a:focus,
.teal.navbar .nav .open > a,
.teal.navbar .nav .open > a:hover,
.teal.navbar .nav .open > a:focus {
	background-color: rgba(0, 0, 0, 0.05); 
}
.teal.navbar .nav > li > a {color: #fff;}
.teal.navbar .bars {
	float: left;
	padding: 20px 20px;
	font-size: 22px;
	color: #fff;
	margin-right: 10px;
	margin-top: 4px; 
}
.teal.navbar .bars:hover {background-color: rgba(0, 0, 0, 0.08);}

.navbar .navbar-header {
	display: inline-block;
	margin: 0;
	width: calc(100% - 70px);
	padding: 0;
}
.teal.navbar .nav > li > a {
    color: #fff;
    margin: 0;
    line-height: 56px;
    padding: 0;
}
@media (max-width: 767px) {
	.navbar .nav > li {display: inline-block;}
	.navbar .navbar-nav {margin: 0;}
    .navbar .navbar-nav .open .dropdown-menu {
		background-color: #fff;
		position: absolute; 
	}
	.navbar .dropdown-menu {margin-left: -50px;}
	.navbar .js-right-sidebar {margin-top: 15px;} 
}

@media (min-width: 768px) and (max-width: 991px) {
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
	margin-left: 10px; } 
}

/*@media (min-width: 992px) and (max-width: 1169px) {
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
	margin-left: 20px; } 
	} 
*/
/* Left Sidebar & Overlay ====================== */
.overlay {
	position: fixed;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	z-index: 10; 
}
.overlay-open .sidebar {margin-left: 0;z-index: 99999999;}
.sidebar {
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	font-family: "Roboto", sans-serif;
	background: #fdfdfd;
	width: 300px;
	overflow: hidden;
	display: inline-block;
	height: calc(100vh - 56px);
	position: fixed;
	top: 56px;
	left: 0;
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 11 !important; 
}
.sidebar .legal {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #eee;
	padding: 15px;
	overflow: hidden; 
}
.sidebar .legal .copyright {
	font-size: 13px;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden; 
}
.sidebar .legal .copyright a {font-weight: bold;text-decoration: none;}
.sidebar .legal .version {
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-top: 5px;
	font-size: 13px; 
}
.sidebar .user-info {
	padding: 13px 15px 12px 15px;
	white-space: nowrap;
	position: relative;
	border-bottom: 1px solid #e9e9e9;
	background: #000;
	height: 135px; 
}
.sidebar .user-info .image {margin-right: 12px;display: inline-block;}
.sidebar .user-info .image img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	vertical-align: bottom !important; 
}
.sidebar .user-info .info-container {
	cursor: default;
	display: block;
	position: relative;
	top: 25px; 
}
.sidebar .user-info .info-container .name {
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 14px;
	max-width: 200px;
	color: #fff; 
}
.sidebar .user-info .info-container .email {
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 12px;
	max-width: 200px;
	color: #fff; 
}
.sidebar .menu {
	position: relative;
	overflow-y: auto;
	height: 90vh; 
}
.sidebar .menu .list {list-style: none;padding-left: 0;}
.sidebar .menu .list li.active > :first-child span {font-weight: bold; }
.sidebar .menu .list .header {
	background: #eee;
	font-size: 12px;
	font-weight: 600;
	padding: 8px 16px; 
}
.sidebar .menu .list i.material-icons {margin-top: 4px;}
.sidebar .menu .list .menu-toggle:after, .sidebar .menu .list .menu-toggle:before {
	position: absolute;
	top: calc(50% - 14px);
	right: 17px;
	font-size: 19px;
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s; 
}
.sidebar .menu .list .menu-toggle:before {
	content: '+';
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1); 
}
.sidebar .menu .list .menu-toggle:after {
	content: '\2013';
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0); 
}
.sidebar .menu .list .menu-toggle.toggled:before {
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0); 
}
.sidebar .menu .list .menu-toggle.toggled:after {
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1); 
}
.sidebar .menu .list a {
	color: #747474;
	position: relative;
	display: inline-flex;
	vertical-align: middle;
	width: 100%;
	padding: 10px 13px; 
}
.sidebar .menu .list a:hover, .sidebar .menu .list a:active, .sidebar .menu .list a:focus {text-decoration: none !important;}
.sidebar .menu .list a small {
	position: absolute;
	top: calc(50% - 7.5px);
	right: 15px; 
}
.sidebar .menu .list a span {
	margin: 7px 0 7px 12px;
	color: #333;
	font-weight: bold;
	font-size: 14px;
	overflow: hidden; 
}
.sidebar .menu .list .ml-menu {
	list-style: none;
	display: none;
	padding-left: 0; 
}
.sidebar .menu .list .ml-menu span {
	font-weight: normal;
	font-size: 14px;
	margin: 3px 0 1px 6px; 
}
.sidebar .menu .list .ml-menu li a {
	padding-left: 55px;
	padding-top: 7px;
	padding-bottom: 7px; 
}
.sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle) {font-weight: 600;margin-left: 5px;}
.sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle):before {
	content: '\E315';
	font-family: 'Material Icons';
	position: relative;
	font-size: 21px;
	height: 20px;
	top: -5px;
	right: 0px; 
}
.sidebar .menu .list .ml-menu li .ml-menu li a {padding-left: 80px;}
.sidebar .menu .list .ml-menu li .ml-menu .ml-menu li a {padding-left: 95px;}

/* Login Page and Forgot Password ================================== */
.login-page, .fp-page {
	background-color: #009688;
	padding-left: 0;
	max-width: 360px;
	margin: 5% auto;
	overflow-x: hidden; 
}
.login-page .login-box .logo a, .fp-page .fp-box .logo a {
	font-size: 36px;
	display: block;
	width: 100%;
	text-align: center;
	color: #b2dfdb; 
}
.login-page .login-box .msg, .fp-page .fp-box .msg {
	color: #9e9e9e;
	margin-bottom: 20px;
	text-align: center; 
}
.login-page .login-box .form-group, .fp-page .fp-box .form-group {margin-bottom:0;}
.login-page .login-box .input-field, .fp-page .fp-box .input-field {margin-top:0;}
.login-page .login-box a, .fp-page .fp-box a {
	font-size: 14px;
	text-decoration: none;
	color: #009688; 
}
.forgot-password {line-height: 36px;}



.block-header {margin-bottom: 15px;}
.block-header h2 {		
    font-size: 1.64rem;
    line-height: 110%;
    margin: 0 0 .656rem 0;
	color: #616161;
	font-weight: normal;
}

.card .card-image .card-title {width:100%;}
.card .card-action p {margin-bottom:0;}
.card .card-action p.right a {margin-right: 0!important;}
.days-left {
    text-transform: uppercase;
    color: #757575;
}

/**/
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.card-panel.small {font-size: 100%;height:300px;}
.card-panel.flat {box-shadow: none;}
.card-panel h6 {
    font-size: 18px;
    font-weight: 300;
	padding-bottm:10px;
}
.wpa-result-desc {margin: 60px 0;}
.wpa-result-summary, .wpa-result-info {min-height: 170px;}
.wpa-result-summary h3 {margin:0;}
.wpa-result-summary .h6 {margin:0;}
.wpa-result-chart .chart-box {overflow:hidden;}
.wpa-result-chart #most-graph, .wpa-result-chart #least-graph, .wpa-result-chart #change-graph,  .wpa-result-chart #jpm-graph{
    position: relative;
    top: 10px;
}
@media (min-width: 768px) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 0;
		padding: 0;
		line-height: 64px;
	}
	.wpa-result-info dl {margin-bottom:0;}
	.wpa-result-info dt {text-align:left;}
}
.canvasjs-chart-credit {display:none!important;}

.active-tool-list .card.sticky-action .card-reveal .card-title {font-size: 20px;margin-bottom: 20px;}
.active-tool-list .card .card-image .card-title, .report-tool-list .card .card-image .card-title {font-size: 20px;}
.active-tool-list .card .card-image, .report-tool-list .card .card-image {background-color: #212121;}
.active-tool-list .card .card-image img, .report-tool-list .card .card-image img {opacity:.6;}
.active-tool-list .card:hover  .card-image img, .report-tool-list .card:hover  .card-image img{opacity:.9;}
.active-tool-list .card .card-image .card-title .material-icons.right {
    position: absolute;
    right: 0;
    bottom: 27px;
}
.active-tool-list .card.sticky-action .card-action {font-size: 12px;padding: 16px 16px;}
.report-tool-list .card .card-image .card-title small {display:block;}
.report-tool-list .card .card-image .card-title small .material-icons {top: 3px;position: relative;}


@media only screen and (min-width: 601px) {
	.ls-closed .navbar-brand {
		line-height: 64px;
		height: 64px;
	}
	.teal.navbar .nav > li > a {
		line-height: 64px;
	}
}
.navbar-brand > img {display: inline-block;}

/* internal server error */
#internal-error {
	background-color: #009688;
	padding-left: 0;
	margin: 5% auto;
	overflow-x: hidden; 
}
#internal-error .btn-large:hover, #internal-error .btn-large:focus {color:#fff;}
#error-message label.error {
    color: #F44336;
    left: 50%;
    text-align: right;
    display: block;
    width: 50%;
    padding-right: 10px;
}
.select-wrapper span.caret {
    width: auto;
    border: none;
}
.input-field label.required:before, .radio-field label.required:before, .input-field-upload label.required:before {
    content: "*";
    float: right;
    color: #e00001;
    padding-left: 5px;
}

.alert.alert-neutral {color:#616161;background-color: #eee;}