/* CSS Custom Style */

body {color: #626262;font-family: "Segoe UI",Arial,sans-serif;}
.content-wrapper, .right-side {background-color: #fafafa;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.skin-black .main-header {box-shadow: 0 0px 1px rgba(0, 0, 0, 0.05);}
.skin-black .main-header > .navbar .navbar-custom-menu .navbar-nav > li > a, .skin-black .main-header > .navbar .navbar-right > li > a {border-left: medium none;}
.skin-black .sidebar-menu > li.header {background: #21252d none repeat scroll 0 0;}
.skin-black .main-header > .logo {
    background-color: #21252d;
    border-bottom: 0 solid transparent;
    border-right: 1px solid #21252d;
    color: #333333;
}
.skin-black .main-header > .logo:hover {background-color: #f55753;border-right-color:#f55753;}
.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {background-color: #10cfbd !important;}
.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {background-color: #f8d053 !important;}
.dropdown-menu {box-shadow: 0 0 5px rgba(98, 98, 98, 0.2);}
.panel .panel-body{padding-bottom: 10px;}
.panel .panel-heading .panel-title {font-size: 14px;}
.progress{margin-top: 10px;}
.main-footer {background: #fafafa none repeat scroll 0 0;border-top: medium none;color: #626262;}

/* Custom CSS Style */
.fl{float: left;}
.marginLeft50{margin-left: 50px;}
.marginLeft15{margin-left: 15px;}
.mt-17{margin-top: 17px;}
.mt-15{margin-top: -15px;}
.ml-25{    margin-left: -25px !important;     padding-right: 55px;}
.marginRight15{margin-right: 15px;}
.link-normalize{color: #626262;}
.panel-custom{  margin-bottom: 3px;}
.all-button{  border-radius: 0px; background: #DDDDDD !Important; padding-top: 13px !Important;}
.stats {
  background: #48B0F7;
  height: 100px;
  width: 100px;
  border-radius: 60px;
  padding: 15px;
  padding-top: 38px;
  color: #fff;
  font-size: 33px;
  text-align: Center;
}
.panel-title {
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.02em;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-stroke: 0px;
  filter: alpha(opacity=40);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form-group-default.form-group-default-select2 .select2-container .select2-choice .select2-chosen {
  padding-left: 3px;
  padding-top: 0px;
}
.form-group-default label {color: #999999;}
/*.form-group-default.form-group-default-select2 .select2-container .select2-choice {
  padding-top: 12px;}

.form-group-default.form-group-default-select2 .select2-container .select2-choice .select2-arrow b:before {
  top: 9px;
}*/
input.search-name {width:auto;}
.reset-btn {margin-left:10px;}
.search-btn {border-radius:0;}
#search-reset {border-radius:0; margin-left:5px;padding: 13px 20px;}
#search-btn {border-radius:0;padding: 13px 20px;}
	
.clearfix-form{margin-right: 7px !Important;}
.bg-gray{background-color: #F0F0F0;}
.icon-big{   font-size: 37px; padding-bottom: 9px;}
.radio-custom{  margin-left: 158px !important; margin-top: -6px !important;}
.padding-y0{padding-top: 0!Important; padding-bottom: 0!Important;}
.padding-top-30{padding-top: 30px;}
.padding-top-25{padding-top: 25px;}
.padding-top-20{padding-top: 20px;}
.padding-top-15{padding-top: 15px;}
.padding-top-10{padding-top: 10px;}
.padding-bottom-10{padding-bottom: 10px}
.padding-bottom-20{padding-bottom: 20px !important;}
.padding-right-10{padding-right: 10px !important}
.padding-right-30{padding-right: 30px !important}
.margin-top-10{ margin-top: -10px;}
.margin-top-30{ margin-top: 30px;}
.text-center{text-align: center;}
.fs-30 {font-size: 30px !important;}
.fs-18 {font-size: 18px !important;}
.survey-portlet a {display:block;padding:20px;}
.survey-portlet span {display:inline-block;}
hr.hr-solid {
    border-color: rgba(0, 0, 0, 0.1);
    border-image: none;
    border-style: dashed none;
    border-width: 1px 0 0 0;
    height: 0;
	margin: 40px 20px;
}

.btn-primary, .btn-primary:focus {
  color: #ffffff;
  background-color: #f55753;
  border-color: #f55753;
}
.category-margin{  padding-left: 15px; padding-bottom: 15px;}

.btn-primary.active,
.btn-primary:active,
.btn-primary.active:focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open .dropdown-toggle.btn-primary {
  background-color: #f55753;
  border-color: #f55753;
  color: #ffffff;
}
.btn-primary.hover,
.btn-primary:hover,
.open .dropdown-toggle.btn-primary {
  background-color: #E8514E;
  border-color: #E8514E;
  color: #ffffff;
}
.btn-primary.active:hover {
  background: #f55753;
  border-color: #f55753;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #FA604C;
  border-color: #FA604C;
}
.btn-info,
.btn-info:focus {
  color: #ffffff;
  background-color: #3b4752;
  border-color: #3b4752;
}
.btn-info.active,
.btn-info:active,
.btn-info.active:focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open .dropdown-toggle.btn-info {
  background-color: #303a42;
  border-color: #303a42;
  color: #ffffff;
}
.btn-info.hover,
.btn-info:hover,
.open .dropdown-toggle.btn-info {
  background-color: #626c75;
  border-color: #626c75;
  color: #ffffff;
}
.btn-info.active:hover {
  background: #333d47;
  border-color: #333d47;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #3b4752;
  border-color: #3b4752;
}
.btn-info .badge {
  color: #3b4752;
  background-color: #ffffff;
}

.breadcrumb {
    margin-bottom: 0;
    padding: 15px;
	text-transform: uppercase;
	background-color: #f0f0f0;
	font-size: 11px;
}

.datepicker thead tr .next,.datepicker thead tr .prev {
  color: #FA604C;
  content: '';
  font-size: 0px;
}
.datepicker thead tr .next:before,.datepicker thead tr .prev:before {
  color: #FA604C;
  font-family: 'FontAwesome';
  font-size: 10px;
}
.datepicker thead tr .dow {
  color: #FA604C;
  text-transform: uppercase;
  font-size: 11px;
}
.datepicker table tr td.active, .datepicker table tr td span.active {background-color: #FA604C !important;color:#fff;}
.datepicker.datepicker-dropdown.datepicker-orient-bottom:before {border-color: #FA604C;}

/* Daterangepicker
http://www.dangrossman.info/
*/
.
.daterangepicker .calendar .prev,
.daterangepicker .calendar .next,
.daterangepicker .calendar th {
  color: #FA604C;
  text-transform: uppercase;
  font-size: 11px;
}
.daterangepicker .calendar .month {
  color: #FA604C;
  font-size: 13px;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #FA604C;
  border-color: #FA604C;
}

.unduh{
    min-height: 240px;
    padding-top: 80px;
  }

/*--- Report ---- */
.report-text{font-size: 30px; padding: 14px 7px 0 0; text-align:right; }
.report-group .report-text {display: inline-block;padding: 14px 7px 14px 0;line-height: 34px;font-weight:700;}
.report-group  .label {margin-top: 28px;}
.higher{font-size: 49px;}
.mw-report{min-width: 580px;}
.collapse-report{    padding-top: 15px !important; padding-bottom: 10px !important;}
.percent-report{    padding-left: 10px; padding-right: 10px; font-size: 24px;}
.collpase-body-report{ padding-left: 35px !important; padding-top: 0px!important; padding-bottom: 30px!important;}
.small-percent {padding-top: 5px; font-size: 20px;     color: #F55753;     padding-right: 10px;text-align:right;}
.avg-report{  font-size: 10px;text-align:right;padding-right: 10px; }
.tbl-percent{    padding-right: 140px; font-size: 20px; color: #F55753;}
.legend-report{    padding: 0px 4px; margin-right: 10px;}
.egd{    background-color: #E2DEEF; color: #E2DEEF;}
.ae{    background-color: #DAEFFD; color: #DAEFFD;}
.hm{    background-color: #FEF6DD; color: #FEF6DD;}
.crs{    background-color: #FDDDDD; color: #FDDDDD;}
.deg{    background-color: #D8DADC; color: #D8DADC;}

/*------ NAV TABS ------*/
.nav-tabs-fillup > li > a:after {
  background: none repeat scroll 0 0 #f55753;
  border: 1px solid #f55753;
}
.navbar-nav .user-image {
    border-radius: 50%;
    float: right;
    height: 25px;
    margin-left: 10px;
    margin-top: -2px;
    width: 25px;
}

.wizard > .content > .body label.error {
    bottom: -30px;
    display: block;
    font-size: 15px;
    font-weight: bold;
    left: 0;
    position: absolute;
    white-space: nowrap;
}

.container-question{
   padding-bottom: 20px;
}