/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jul 12, 2015, 2:37:38 PM
    Author     : ariesm
*/

#chartContainer {
    background-image:url("../image/background-graph.png");
    background-size: 90.8% 81.1%;
    background-position: 47px 32px;
    background-repeat: no-repeat;
}


.papi-chart-container {
    background-image: url(../image/papikostik.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 500px;
    height: 500px;
    padding: 35px 50px 50px 45px;
    margin: 0 auto;
}
.papi-chart{
    width:400px;
    height:400px;
}
