@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('../fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto_italic_macroman/Roboto-Italic-webfont.eot');
    src: url('../fonts/roboto/roboto_italic_macroman/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_italic_macroman/Roboto-Italic-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_italic_macroman/Roboto-Italic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_italic_macroman/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto_bold_macroman/Roboto-Bold-webfont.eot');
    src: url('../fonts/roboto/roboto_bold_macroman/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_bold_macroman/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_bold_macroman/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_bold_macroman/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.eot');
    src: url('../fonts/roboto/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto_thin_macroman/Roboto-Thin-webfont.eot');
    src: url('../fonts/roboto/roboto_thin_macroman/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_thin_macroman/Roboto-Thin-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_thin_macroman/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_thin_macroman/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.eot');
    src: url('../fonts/roboto/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg'); (under the Apache Software License).
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.eot');
    src: url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.eot');
    src: url('../fonts/roboto/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto_medium_macroman/Roboto-Medium-webfont.eot');
    src: url('../fonts/roboto/roboto_medium_macroman/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_medium_macroman/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_medium_macroman/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_medium_macroman/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.eot');
    src: url('../fonts/roboto/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}
/* Material Icons ===================================== */
@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url('../fonts/material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
        url('../fonts/material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.woff') format('woff'),
        url('../fonts/material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* General ===================================== */
body {
    background-color: #2b303b;
	font-family: 'Droid Sans', Arial, sans-serif;
    font-size: 13px;
	color: #626262;
}
p {
    display: block;
    font-weight: normal;
    letter-spacing: 0.01em;
    line-height: 20px;
    margin: 0px 0px 10px 0px;
    font-style: normal;
    white-space: normal;
	font-size: 13px;
}

.navbar-default {
    background-color: #fff;
    border: none;
}
.navbar-default .navbar-brand {
    background-color: #21252d;
    color: #333333;
    width: 230px;
    text-align: center;
	height: 51px;
}
.navbar-default .navbar-brand:hover {
	background-color: #f55753;
}

.sidebar .sidebar-nav.navbar-collapse {
    background-color: #2b303b;
}
.sidebar ul li {
    border: none;
}
.sidebar ul li a {
	border-left: 3px solid transparent;
    color: #b8c7ce;
}
.sidebar ul li a.active, .sidebar ul li a:hover, .sidebar ul li a:focus {
    background-color: #21252d;
	color: #b8c7ce;
}
.sidebar ul li a.active {
    border-left: 3px solid #fff;
}

.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fafafa;
}

.breadcrumb {
    margin-bottom: 0;
    padding: 12px 15px;
    text-transform: uppercase;
    background-color: #f0f0f0;
    font-size: 11px;
}
.breadcrumb>.active {
    color: #777;
}

#onBoardingHome {
	padding:20px;
	margin-bottom: 20px;
}
#onBoardingHome .bx-wrapper{
	margin-bottom:0;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: 30px;
}

.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: relative;
}
.panel.panel-transparent {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel.panel-transparent>.panel-heading {
    background: transparent;
    border-radius: 0px;
    border-bottom: 0px;
    padding: 20px 20px 7px 20px;
    position: relative;
    z-index: 3;
    min-height: 48px;
}
.panel-title {
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 0.02em;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-stroke: 0px;
    filter: alpha(opacity=40);
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.panel .panel-heading .panel-title {
	color: #f55753;
}
.panel .panel-body {
    padding: 20px;
    /*height: 100%;*/
    width: 100%;
}
.panel.panel-transparent> .panel-heading + .panel-body {
    padding-top: 0;
    /*height: calc(100% - 50px);*/
}
.panel.panel-transparent .panel-body {
    background: transparent;
}

.table {font-size:13px;}
.table.table-noborder {
    border-collapse: separate;
    border-spacing: 0 5px;
}
.table.table-noborder>tbody>tr {
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
}
.table.table-noborder>tbody>tr>td {
	background-color:#fff;
	border:none;
}
.table.table-noborder>tbody>tr>td.td-day {
    background-color: #f0f0f0;
    width: 80px;
    vertical-align: middle;
}
.table.table-noborder>tbody>tr>td.td-action {
    vertical-align: middle;
	text-align: right;
}
.table.table-noborder>tbody>tr>td.td-duration {
	min-width: 100px;
	vertical-align: middle;
}
.table-noborder .survey-title, .table-noborder .survey-desc {margin:0;}
.table-noborder .survey-title {
    font-weight: bold;
    font-size: 16px;
    margin: 5px 0;
}
.table-noborder .td-day {
	text-align:center;
}
.table-noborder .td-day span {
	display:block;
}
.table-noborder .td-day-date {
    font-weight: bold;
    font-size: 24px;
}
.table-noborder .td-day-left {
    font-size: 12px;
    color: #818181;
}
.td-duration span.text-muted {
	text-transform: uppercase;
	font-size: 85%;
	display:block;
	color: #999;
}
#surveyListTable {margin-bottom: 0;}

.btn-primary {
	background-color: #3b4752;
    border-color: #3b4752;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #626c75;
    border-color: #626c75;
}

.page-header{
	margin:10px 0;
}
.page-header > .breadcrumb {
	background: none;
}
.page-header > .breadcrumb li{
	font-size:12px;
}
.full{
	padding:0px;
}
div.dataTables_length,
div.dataTables_filter,
div.dataTables_info,
div.dt-buttons,
div.dataTables_paginate {
	padding: 10px;
}
.m-t-10{
	margin-top:10px;
}
form.form-inline {
	display: inline;
}
.additional-btn{
	position: absolute;
	top: 5px;
	right: 10px;
	margin-right: 10px;
	z-index: 9901;
}
.sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 0px;
}
.skin-black .main-header > .logo {
    background-color: #21252d;
    border-bottom: 0 solid transparent;
    border-right: 1px solid #21252d;
    color: #333333;
    padding-top: 0px;
}
.logo-image{width:100px;}
.login-social-or{margin-bottom:20px;}
.credit{text-align: center;}
.user-info{margin:20px 10px 20px 0px;}
.profile-info{border-bottom:1px solid #dedede;margin-bottom:20px;}
.user-avatar{float:left;margin-right:10px;}
.user-info p>span{font-weight: bold;}
.starred{color:gold;}


.footer-left, .header-left{
	float: left;
	margin-left: 20px;
}

.content-question{
	margin-left: 45px;
}

.footer-right, .header-right{
	float: right;
	margin-right: 20px;
}

.survey-question{
	margin-left: 100px;
	width: 750px;
}

.survey-option{
	margin-left: 100px;
}

.checkbox-img{
	display: none;
}
.body-detail{
	padding-bottom: 80px;
	padding-top: 40px;
}

.btn.likert {
	display: inline;
	width: 100px;
	height: 100px;
	margin: 0px;
	padding: 0px;
}

.scale-image{
	width: 100%;
	height: 100%;
	border-radius: 4px;
}

.desc-scale{
	font-weight: normal;
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
}

.likert2{
	width: 100px;
	height: 40px;
}

.textarea-survey{
	width: 700px;
}

.finish-image{
	width: 200px;
	height: 200px;
}

.icon-home{
	width: 40px;
	height: 40px;
	content: "\f015";
	margin-top: 100px;
}

.foot-left{
	margin-left: 260px;
	height: 30px;
	margin-top: 5px;
	float: left;
	color: grey;
}

.foot-right{
	margin-right: 80px;
	height: 30px;
	margin-top: 5px;
	float: right;
	color: grey;
}

.report-table{
	width: 200px;
	height: 330px;
	float: left;
	margin-left: 10px;
}

.row-form{
	padding-left: 0px;
	margin-bottom: 10px;
}

.input-matching{
	width: 50px;
}

/*Loader*/
.page-loader-wrapper {
	z-index: 99999999;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #eee;
	overflow: hidden;
	text-align: center;
}
.page-loader-wrapper p {
    font-size: 13px;
    margin-top: 10px;
    font-weight: bold;
    color: #444;
}
.page-loader-wrapper .loader {
    position: relative;
    top: calc(50% - 30px);
}

/*Loader*/

@media (min-width: 768px) {
	#page-wrapper {
		border-left:none;
		margin: 0 0 0 230px;
		padding:0;
	}
	.sidebar {
		width: 230px;
	}
}
@media only screen and (max-width: 800px) {

	/* Force table to not be like tables anymore */
	.table-vertical table,
	.table-vertical thead,
	.table-vertical tbody,
	.table-vertical th,
	.table-vertical td,
	.table-vertical tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.table-vertical thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.table-vertical tr { border: 1px solid #ccc; }

	.table-vertical td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		white-space: normal;
		text-align:left;
	}

	.table-vertical td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}

	/* Label the data */
	.table-vertical td:before { content: attr(data-title); }
	.table-vertical .table-noborder tr {
		position:relative;
		margin-bottom:10px;
	}
	.table.table-noborder>tbody>tr>td.td-day {
		background-color: #f0f0f0;
		width: 50%;
		vertical-align: middle;
		position: absolute;
		z-index: 2;
		bottom: 1px;
		right: 0;
		text-align: right;
		height: 49px;
	}
	.table.table-noborder>tbody>tr>td.td-duration {
		padding-bottom: 15px;
	}
	.table.table-noborder>tbody>tr>td.td-action {
		background-color: #3b4752;
		height: 50px;
		padding: 0;
		vertical-align: middle;
		text-align: center;
		width: 50%;
	}
	.table-noborder .survey-title {
		margin-bottom: 10px;
		border-bottom: 1px solid #f0f0f0;
		padding-bottom: 10px;
	}
	.td-action .btn-primary.act-reminder {
		padding: 0;
		width: 100%;
		line-height: 48px;
	}
	.td-duration span.text-muted {
		display: inline;
	}
	.table-noborder .td-day span {
		display: inline-block;
		padding-top: 9px;
		padding-left: 4px;
		font-size: 13px;
	}
	.table-noborder .td-day-date, .table-noborder .td-day-left {
		font-size: 16px;
	}


}
@media (min-width: 992px) {

}

div.dataTables_wrapper div.dataTables_length select {
    line-height: normal;
}

.user-report-info img {
    width: 80px;
}

.user-report-info .label a {
    color: #fff;
}

.user-report-info .label a:hover {
    color: #ddd;
}

.user-report-info .media-body{
  width: initial;
}

.report-info .dl-horizontal dt{
  width: 100px;
  text-align: left;
}

.report-info .dl-horizontal dd{
  margin-left: initial;
}

.hasil-rekomendasi h3{
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
}

.hasil-rekomendasi span.label{
  font-size: 18px;
  border-radius: 0;
  padding: 5px 15px;
}

.box-detail-analisis div{
  margin-bottom: 15px;
}

#table_report thead tr th{
  text-align: center;
}

tr.group td {
    background-color: #ddd !important;
}

td.bg-requirement{
  background-color: #6dc0f9 !important;
}

td.bg-mandatory{
  background-color: #f77975 !important;
}

.compare .hasil-rekomendasi b{
  font-size: 12pt;
}

.compare .hasil-rekomendasi{
  margin: 15px 0;
}

.compare .hasil-rekomendasi span.label{
  font-size: 10pt;
  padding: 3px 10px;
}

.compare-col{
  padding: 5px;
}

.compare-col .compare-data{
  padding: 5px;
}

.table_report span.badge{
  font-size: 12pt;
}

.p-analisis{
  margin: 15px 0
}