.must-break{
	page-break-before: always;
	/*page-break-inside: avoid;*/
	/*break-before: always;*/
	break-inside: avoid;
}

.no-break{
	break-inside: avoid !important;
	page-break-inside: avoid !important;
}

section.content{
	margin: 0;
}

body{
	background: initial;
}

.container-fluid{
	padding: 0;
	margin: 0;
}

.table>tbody>tr>td.r-expected i,
.table>tbody>tr>td.r-lower i,
.table>tbody>tr>td.r-higher i,
.table>tbody>tr>td.r-mandatory i{
	font-size:16px;
}

.strength {background-color:#ccff90;padding: 5px 20px; margin-bottom: 5px; }
.weakness {background-color:#ffcdd2;padding: 5px 20px;margin-bottom: 5px;}
.jobrec {background-color:#e3f2fd;padding: 5px 20px;margin-bottom: 5px;}

.card{
	box-shadow: initial;
}

.table-bordered tbody tr td,
.table-bordered tbody tr th {
    padding: 5px 5px;
}

td.bg-requirement{
  background-color: #6dc0f9 !important;
}

td.bg-mandatory{
  background-color: #f77975 !important;
}

.label-hasil{
	font-size: 100%;
}