body {font-family:Arial, sans-serif; font-size:12px;font-weight:normal;}
.wpa-result-chart {padding-bottom: 40px;}
.card-panel, .result-summary {padding-bottom: 40px;}
.print-user-info {background-color:#eeeeee!important;padding-top:20px;margin-bottom: 40px;}
.canvasjs-chart-credit {display:none!important;}
.block-header h2 {padding-bottom:20px;}
.wpa-result-desc p {padding: 10px 0 0;}
.wpa-result-desc h3, .wpa-result-desc h5 {
    background-color: #eee;
    padding: 10px;
}
.wpa-result-desc .result-summary {font-size:12px;}
.wpa-result-chart .canvasjs-chart-canvas {width:100%!important;height:150px!important;}
.wba-desc.table-bordered>tbody>tr>td:first-child {
    font-weight: bold;
    background-color: #eee;
}
.tiki-summary {padding: 0 15px 15px;}
.tiki-summary-header {text-align:center;}
.tiki-summary > .row {border: 1px solid #eeeeee;background-color: #fafafa;}
.tiki-summary > .row > div {border-left:1px solid #eeeeee;padding:10px;}
.tiki-summary-header > div {background-color:#eeeeee;}
.tiki-summary h5 {font-weight:bold;margin:0;}
.tiki-summary p, .tiki-summary .progress, .tiki-summary h4 {margin:0;}

.gti-low{background-color:  #f80404;}
.gti-mid{background-color:  #f2bd0a;}
.gti-high{background-color:  #12e700;}
#page-wrapper{background-color: #2b303b !important;}
.table>thead>tr>th {text-align:center;}

.must-break{
	page-break-before: always;
	/*page-break-inside: avoid;*/
	/*break-before: always;*/
	break-inside: avoid;
}


.header-report-tpa{
	background-color: #206fb8;
	padding-left: 10px;
	color: #ffffff;
}

.header-report-lai{
	background-color: #44a9ff;
	padding-left: 10px;
	color: #ffffff;
}

.header-report-tiki{
	background-color: #ec884b;
	padding-left: 10px;
	color: #ffffff;
}

.header-report-wpa{
	background-color: #31b968;
	padding-left: 10px;
	color: #ffffff;
}

.header-report-wba{
	background-color: #ff707a;
	padding-left: 10px;
	color: #ffffff;
}

.cover-pdf{
	background-color: #206fb8;
	color: #ffffff;
	margin-top: 110px;
	height: 110px;
}

.title-pdf h3{
	margin-left: 40px;
	background-color: #ffffff;
	width: 320px;
	height: 150px;
	color: #206fb8;
	font-weight: 900;
	word-wrap: break-word;
	font-size: 40px;
	padding: 15px;
	padding-top: 10px;
}

.info-pdf{
	margin-top: 40px;
	margin-left: 50px;
	border: 2px solid #cacaca;
	border-radius: 5px;
	width: 340px;
	padding: 10px;
	margin-bottom: 300px;
}

.cover-logo-talentlytica{
	float: right;
	width: 240px;
	height: 200px;
	margin-right: 50px;
}

.cover-logo-client{
	padding-top: 40px;
	padding-left: 40px;
}

.logo-client{
	width: 300px;
}

.body-pdf{
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 40px;
}

.provided{
	float: left;
	color: #a7adb2;
	font-size: 14px;
}

.wpa-result-desc{
	margin-top: -60px;
}

@media all {
	.page-break	{ display: none; }
}

@page {
	size: A4 portrait;
}

.page-break	{ display: block; page-break-before: always; }
.col-print-1 {width:8%;  float:left;}
.col-print-2 {width:16%; float:left;}
.col-print-3 {width:25%; float:left;}
.col-print-4 {width:33%; float:left;}
.col-print-5 {width:42%; float:left;}
.col-print-6 {width:50%; float:left;}
.col-print-7 {width:58%; float:left;}
.col-print-8 {width:66%; float:left;}
.col-print-9 {width:75%; float:left;}
.col-print-10{width:83%; float:left;}
.col-print-11{width:92%; float:left;}
.col-print-12{width:100%; float:left;}

.dl-horizontal dt {
	float: left;
	width: 160px;
	overflow: hidden;
	clear: left;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.dl-horizontal dd {margin-left: 180px;}
.pt40 {padding-top:40px;}

@media print {
	body {-webkit-print-color-adjust: exact;font-family:Arial, sans-serif; font-size:12px;font-weight:normal;}
	.page-break	{ display: block; page-break-before: always; }
	.col-print-1 {width:8%;  float:left;}
	.col-print-2 {width:16%; float:left;}
	.col-print-3 {width:25%; float:left;}
	.col-print-4 {width:33%; float:left;}
	.col-print-5 {width:42%; float:left;}
	.col-print-6 {width:50%; float:left;}
	.col-print-7 {width:58%; float:left;}
	.col-print-8 {width:66%; float:left;}
	.col-print-9 {width:75%; float:left;}
	.col-print-10{width:83%; float:left;}
	.col-print-11{width:92%; float:left;}
	.col-print-12{width:100%; float:left;}
	
	.dl-horizontal dt {
		float: left;
		width: 160px;
		overflow: hidden;
		clear: left;
		text-align: right;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.dl-horizontal dd {margin-left: 180px;}
	
	.print-user-info, .wpa-result-desc h3, .wpa-result-desc h5 {
		background-color:#eeeeee!important;
		-webkit-print-color-adjust: exact;
	}
	.wpa-result-chart .canvasjs-chart-canvas {width:100%!important;height:150px!important;}
	.wpa-result-chart {padding: 40px 0 0;}
	.pt40 {padding-top:40px;}
	
}
