/* berhitung-angka */
.tiki1soal10, .tiki1soal20, .tiki1soal21, .tiki1soal25, .tiki1soal26, .tiki1soal28, .tiki1soal29, .tiki1soal31, .tiki1soal33, .tiki1soal34, .tiki1soal37, .tiki1soal39, .tiki1soal40, .tiki1soal11, .tiki1soal15, .tiki1soal35, .tiki1soal18, .tiki1soal2, .tiki1soal4, .tiki1soal3, .tiki1soal23, .tiki1soal36, .tiki1soal1, .tiki1soal13, .tiki1soal30, .tiki1soal17, .tiki1soal24, .tiki1soal5, .tiki1soal7, .tiki1soal9, .tiki1soal14, .tiki1soal19, .tiki1soal27, .tiki1soal6, .tiki1soal12, .tiki1soal38, .tiki1soal16, .tiki1soal8, .tiki1soal22, .tiki1soal32, .tiki1pilihan10a, .tiki1pilihan10b, .tiki1pilihan10c, .tiki1pilihan10d, .tiki1pilihan11a, .tiki1pilihan11b, .tiki1pilihan11c, .tiki1pilihan11d, .tiki1pilihan12a, .tiki1pilihan12b, .tiki1pilihan12c, .tiki1pilihan12d, .tiki1pilihan13a, .tiki1pilihan13b, .tiki1pilihan13c, .tiki1pilihan13d, .tiki1pilihan14a, .tiki1pilihan14b, .tiki1pilihan14c, .tiki1pilihan14d, .tiki1pilihan15a, .tiki1pilihan15b, .tiki1pilihan15c, .tiki1pilihan15d, .tiki1pilihan16a, .tiki1pilihan16b, .tiki1pilihan16c, .tiki1pilihan16d, .tiki1pilihan17a, .tiki1pilihan17b, .tiki1pilihan17c, .tiki1pilihan17d, .tiki1pilihan18a, .tiki1pilihan18b, .tiki1pilihan18c, .tiki1pilihan18d, .tiki1pilihan19a, .tiki1pilihan19b, .tiki1pilihan19c, .tiki1pilihan19d, .tiki1pilihan1a, .tiki1pilihan1b, .tiki1pilihan1c, .tiki1pilihan1d, .tiki1pilihan20a, .tiki1pilihan20b, .tiki1pilihan20c, .tiki1pilihan20d, .tiki1pilihan21a, .tiki1pilihan21b, .tiki1pilihan21c, .tiki1pilihan21d, .tiki1pilihan22a, .tiki1pilihan22b, .tiki1pilihan22c, .tiki1pilihan22d, .tiki1pilihan23a, .tiki1pilihan23b, .tiki1pilihan23c, .tiki1pilihan23d, .tiki1pilihan24a, .tiki1pilihan24b, .tiki1pilihan24c, .tiki1pilihan24d, .tiki1pilihan25a, .tiki1pilihan25b, .tiki1pilihan25c, .tiki1pilihan25d, .tiki1pilihan26a, .tiki1pilihan26b, .tiki1pilihan26c, .tiki1pilihan26d, .tiki1pilihan27a, .tiki1pilihan27b, .tiki1pilihan27c, .tiki1pilihan27d, .tiki1pilihan28a, .tiki1pilihan28b, .tiki1pilihan28c, .tiki1pilihan28d, .tiki1pilihan29a, .tiki1pilihan29b, .tiki1pilihan29c, .tiki1pilihan29d, .tiki1pilihan2a, .tiki1pilihan2b, .tiki1pilihan2c, .tiki1pilihan2d, .tiki1pilihan30a, .tiki1pilihan30b, .tiki1pilihan30c, .tiki1pilihan30d, .tiki1pilihan31a, .tiki1pilihan31b, .tiki1pilihan31c, .tiki1pilihan31d, .tiki1pilihan32a, .tiki1pilihan32b, .tiki1pilihan32c, .tiki1pilihan32d, .tiki1pilihan33a, .tiki1pilihan33b, .tiki1pilihan33c, .tiki1pilihan33d, .tiki1pilihan34a, .tiki1pilihan34b, .tiki1pilihan34c, .tiki1pilihan34d, .tiki1pilihan35a, .tiki1pilihan35b, .tiki1pilihan35c, .tiki1pilihan35d, .tiki1pilihan36a, .tiki1pilihan36b, .tiki1pilihan36c, .tiki1pilihan36d, .tiki1pilihan37a, .tiki1pilihan37b, .tiki1pilihan37c, .tiki1pilihan37d, .tiki1pilihan38a, .tiki1pilihan38b, .tiki1pilihan38c, .tiki1pilihan38d, .tiki1pilihan39a, .tiki1pilihan39b, .tiki1pilihan39c, .tiki1pilihan39d, .tiki1pilihan3a, .tiki1pilihan3b, .tiki1pilihan3c, .tiki1pilihan3d, .tiki1pilihan40a, .tiki1pilihan40b, .tiki1pilihan40c, .tiki1pilihan40d, .tiki1pilihan4a, .tiki1pilihan4b, .tiki1pilihan4c, .tiki1pilihan4d, .tiki1pilihan5a, .tiki1pilihan5b, .tiki1pilihan5c, .tiki1pilihan5d, .tiki1pilihan6a, .tiki1pilihan6b, .tiki1pilihan6c, .tiki1pilihan6d, .tiki1pilihan7a, .tiki1pilihan7b, .tiki1pilihan7c, .tiki1pilihan7d, .tiki1pilihan8a, .tiki1pilihan8b, .tiki1pilihan8c, .tiki1pilihan8d, .tiki1pilihan9a, .tiki1pilihan9b, .tiki1pilihan9c, .tiki1pilihan9d { display: inline-block; background: url('../image/berhitung-angka/sprite-berhitung-angka.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
.tiki1soal10 { background-position: -2px -0px; width: 240px; height: 30px; }
.tiki1soal20 { background-position: -2px -32px; width: 240px; height: 32px; }
.tiki1soal21 { background-position: -2px -66px; width: 240px; height: 29px; }
.tiki1soal25 { background-position: -2px -97px; width: 240px; height: 27px; }
.tiki1soal26 { background-position: -2px -126px; width: 240px; height: 28px; }
.tiki1soal28 { background-position: -2px -156px; width: 240px; height: 29px; }
.tiki1soal29 { background-position: -2px -187px; width: 240px; height: 31px; }
.tiki1soal31 { background-position: -2px -220px; width: 240px; height: 34px; }
.tiki1soal33 { background-position: -2px -256px; width: 240px; height: 27px; }
.tiki1soal34 { background-position: -2px -285px; width: 240px; height: 32px; }
.tiki1soal37 { background-position: -2px -319px; width: 240px; height: 28px; }
.tiki1soal39 { background-position: -2px -349px; width: 240px; height: 34px; }
.tiki1soal40 { background-position: -2px -385px; width: 240px; height: 31px; }
.tiki1soal11 { background-position: -2px -418px; width: 222px; height: 32px; }
.tiki1soal15 { background-position: -2px -452px; width: 222px; height: 32px; }
.tiki1soal35 { background-position: -2px -486px; width: 220px; height: 72px; }
.tiki1soal18 { background-position: -2px -560px; width: 216px; height: 32px; }
.tiki1soal2 { background-position: -2px -594px; width: 216px; height: 32px; }
.tiki1soal4 { background-position: -2px -628px; width: 214px; height: 32px; }
.tiki1soal3 { background-position: -2px -662px; width: 212px; height: 32px; }
.tiki1soal23 { background-position: -2px -696px; width: 210px; height: 32px; }
.tiki1soal36 { background-position: -2px -730px; width: 210px; height: 72px; }
.tiki1soal1 { background-position: -2px -804px; width: 208px; height: 32px; }
.tiki1soal13 { background-position: -2px -838px; width: 206px; height: 74px; }
.tiki1soal30 { background-position: -2px -914px; width: 206px; height: 76px; }
.tiki1soal17 { background-position: -2px -992px; width: 196px; height: 32px; }
.tiki1soal24 { background-position: -2px -1026px; width: 196px; height: 76px; }
.tiki1soal5 { background-position: -2px -1104px; width: 196px; height: 68px; }
.tiki1soal7 { background-position: -2px -1174px; width: 196px; height: 32px; }
.tiki1soal9 { background-position: -2px -1208px; width: 196px; height: 32px; }
.tiki1soal14 { background-position: -2px -1242px; width: 194px; height: 76px; }
.tiki1soal19 { background-position: -2px -1320px; width: 194px; height: 32px; }
.tiki1soal27 { background-position: -2px -1354px; width: 194px; height: 74px; }
.tiki1soal6 { background-position: -2px -1430px; width: 194px; height: 32px; }
.tiki1soal12 { background-position: -2px -1464px; width: 188px; height: 32px; }
.tiki1soal38 { background-position: -2px -1498px; width: 188px; height: 74px; }
.tiki1soal16 { background-position: -2px -1574px; width: 184px; height: 76px; }
.tiki1soal8 { background-position: -2px -1652px; width: 184px; height: 32px; }
.tiki1soal22 { background-position: -2px -1686px; width: 182px; height: 74px; }
.tiki1soal32 { background-position: -2px -1762px; width: 176px; height: 72px; }
.tiki1pilihan10a { background-position: -2px -1836px; width: 78px; height: 78px; }
.tiki1pilihan10b { background-position: -82px -1836px; width: 78px; height: 78px; }
.tiki1pilihan10c { background-position: -162px -1836px; width: 78px; height: 78px; }
.tiki1pilihan10d { background-position: -2px -1916px; width: 78px; height: 78px; }
.tiki1pilihan11a { background-position: -82px -1916px; width: 78px; height: 78px; }
.tiki1pilihan11b { background-position: -162px -1916px; width: 78px; height: 78px; }
.tiki1pilihan11c { background-position: -2px -1996px; width: 78px; height: 78px; }
.tiki1pilihan11d { background-position: -82px -1996px; width: 78px; height: 78px; }
.tiki1pilihan12a { background-position: -162px -1996px; width: 78px; height: 78px; }
.tiki1pilihan12b { background-position: -2px -2076px; width: 78px; height: 78px; }
.tiki1pilihan12c { background-position: -82px -2076px; width: 78px; height: 78px; }
.tiki1pilihan12d { background-position: -162px -2076px; width: 78px; height: 78px; }
.tiki1pilihan13a { background-position: -2px -2156px; width: 78px; height: 78px; }
.tiki1pilihan13b { background-position: -82px -2156px; width: 78px; height: 78px; }
.tiki1pilihan13c { background-position: -162px -2156px; width: 78px; height: 78px; }
.tiki1pilihan13d { background-position: -2px -2236px; width: 78px; height: 78px; }
.tiki1pilihan14a { background-position: -82px -2236px; width: 78px; height: 78px; }
.tiki1pilihan14b { background-position: -162px -2236px; width: 78px; height: 78px; }
.tiki1pilihan14c { background-position: -2px -2316px; width: 78px; height: 78px; }
.tiki1pilihan14d { background-position: -82px -2316px; width: 78px; height: 78px; }
.tiki1pilihan15a { background-position: -162px -2316px; width: 78px; height: 78px; }
.tiki1pilihan15b { background-position: -2px -2396px; width: 78px; height: 78px; }
.tiki1pilihan15c { background-position: -82px -2396px; width: 78px; height: 78px; }
.tiki1pilihan15d { background-position: -162px -2396px; width: 78px; height: 78px; }
.tiki1pilihan16a { background-position: -2px -2476px; width: 78px; height: 78px; }
.tiki1pilihan16b { background-position: -82px -2476px; width: 78px; height: 78px; }
.tiki1pilihan16c { background-position: -162px -2476px; width: 78px; height: 78px; }
.tiki1pilihan16d { background-position: -2px -2556px; width: 78px; height: 78px; }
.tiki1pilihan17a { background-position: -82px -2556px; width: 78px; height: 78px; }
.tiki1pilihan17b { background-position: -162px -2556px; width: 78px; height: 78px; }
.tiki1pilihan17c { background-position: -2px -2636px; width: 78px; height: 78px; }
.tiki1pilihan17d { background-position: -82px -2636px; width: 78px; height: 78px; }
.tiki1pilihan18a { background-position: -162px -2636px; width: 78px; height: 78px; }
.tiki1pilihan18b { background-position: -2px -2716px; width: 78px; height: 78px; }
.tiki1pilihan18c { background-position: -82px -2716px; width: 78px; height: 78px; }
.tiki1pilihan18d { background-position: -162px -2716px; width: 78px; height: 78px; }
.tiki1pilihan19a { background-position: -2px -2796px; width: 78px; height: 78px; }
.tiki1pilihan19b { background-position: -82px -2796px; width: 78px; height: 78px; }
.tiki1pilihan19c { background-position: -162px -2796px; width: 78px; height: 78px; }
.tiki1pilihan19d { background-position: -2px -2876px; width: 78px; height: 78px; }
.tiki1pilihan1a { background-position: -82px -2876px; width: 78px; height: 78px; }
.tiki1pilihan1b { background-position: -162px -2876px; width: 78px; height: 78px; }
.tiki1pilihan1c { background-position: -2px -2956px; width: 78px; height: 78px; }
.tiki1pilihan1d { background-position: -82px -2956px; width: 78px; height: 78px; }
.tiki1pilihan20a { background-position: -162px -2956px; width: 78px; height: 78px; }
.tiki1pilihan20b { background-position: -2px -3036px; width: 78px; height: 78px; }
.tiki1pilihan20c { background-position: -82px -3036px; width: 78px; height: 78px; }
.tiki1pilihan20d { background-position: -162px -3036px; width: 78px; height: 78px; }
.tiki1pilihan21a { background-position: -2px -3116px; width: 78px; height: 78px; }
.tiki1pilihan21b { background-position: -82px -3116px; width: 78px; height: 78px; }
.tiki1pilihan21c { background-position: -162px -3116px; width: 78px; height: 78px; }
.tiki1pilihan21d { background-position: -2px -3196px; width: 78px; height: 78px; }
.tiki1pilihan22a { background-position: -82px -3196px; width: 78px; height: 78px; }
.tiki1pilihan22b { background-position: -162px -3196px; width: 78px; height: 78px; }
.tiki1pilihan22c { background-position: -2px -3276px; width: 78px; height: 78px; }
.tiki1pilihan22d { background-position: -82px -3276px; width: 78px; height: 78px; }
.tiki1pilihan23a { background-position: -162px -3276px; width: 78px; height: 78px; }
.tiki1pilihan23b { background-position: -2px -3356px; width: 78px; height: 78px; }
.tiki1pilihan23c { background-position: -82px -3356px; width: 78px; height: 78px; }
.tiki1pilihan23d { background-position: -162px -3356px; width: 78px; height: 78px; }
.tiki1pilihan24a { background-position: -2px -3436px; width: 78px; height: 78px; }
.tiki1pilihan24b { background-position: -82px -3436px; width: 78px; height: 78px; }
.tiki1pilihan24c { background-position: -162px -3436px; width: 78px; height: 78px; }
.tiki1pilihan24d { background-position: -2px -3516px; width: 78px; height: 78px; }
.tiki1pilihan25a { background-position: -82px -3516px; width: 78px; height: 78px; }
.tiki1pilihan25b { background-position: -162px -3516px; width: 78px; height: 78px; }
.tiki1pilihan25c { background-position: -2px -3596px; width: 78px; height: 78px; }
.tiki1pilihan25d { background-position: -82px -3596px; width: 78px; height: 78px; }
.tiki1pilihan26a { background-position: -162px -3596px; width: 78px; height: 78px; }
.tiki1pilihan26b { background-position: -2px -3676px; width: 78px; height: 78px; }
.tiki1pilihan26c { background-position: -82px -3676px; width: 78px; height: 78px; }
.tiki1pilihan26d { background-position: -162px -3676px; width: 78px; height: 78px; }
.tiki1pilihan27a { background-position: -2px -3756px; width: 78px; height: 78px; }
.tiki1pilihan27b { background-position: -82px -3756px; width: 78px; height: 78px; }
.tiki1pilihan27c { background-position: -162px -3756px; width: 78px; height: 78px; }
.tiki1pilihan27d { background-position: -2px -3836px; width: 78px; height: 78px; }
.tiki1pilihan28a { background-position: -82px -3836px; width: 78px; height: 78px; }
.tiki1pilihan28b { background-position: -162px -3836px; width: 78px; height: 78px; }
.tiki1pilihan28c { background-position: -2px -3916px; width: 78px; height: 78px; }
.tiki1pilihan28d { background-position: -82px -3916px; width: 78px; height: 78px; }
.tiki1pilihan29a { background-position: -162px -3916px; width: 78px; height: 78px; }
.tiki1pilihan29b { background-position: -2px -3996px; width: 78px; height: 78px; }
.tiki1pilihan29c { background-position: -82px -3996px; width: 78px; height: 78px; }
.tiki1pilihan29d { background-position: -162px -3996px; width: 78px; height: 78px; }
.tiki1pilihan2a { background-position: -2px -4076px; width: 78px; height: 78px; }
.tiki1pilihan2b { background-position: -82px -4076px; width: 78px; height: 78px; }
.tiki1pilihan2c { background-position: -162px -4076px; width: 78px; height: 78px; }
.tiki1pilihan2d { background-position: -2px -4156px; width: 78px; height: 78px; }
.tiki1pilihan30a { background-position: -82px -4156px; width: 78px; height: 78px; }
.tiki1pilihan30b { background-position: -162px -4156px; width: 78px; height: 78px; }
.tiki1pilihan30c { background-position: -2px -4236px; width: 78px; height: 78px; }
.tiki1pilihan30d { background-position: -82px -4236px; width: 78px; height: 78px; }
.tiki1pilihan31a { background-position: -162px -4236px; width: 78px; height: 78px; }
.tiki1pilihan31b { background-position: -2px -4316px; width: 78px; height: 78px; }
.tiki1pilihan31c { background-position: -82px -4316px; width: 78px; height: 78px; }
.tiki1pilihan31d { background-position: -162px -4316px; width: 78px; height: 78px; }
.tiki1pilihan32a { background-position: -2px -4396px; width: 78px; height: 78px; }
.tiki1pilihan32b { background-position: -82px -4396px; width: 78px; height: 78px; }
.tiki1pilihan32c { background-position: -162px -4396px; width: 78px; height: 78px; }
.tiki1pilihan32d { background-position: -2px -4476px; width: 78px; height: 78px; }
.tiki1pilihan33a { background-position: -82px -4476px; width: 78px; height: 78px; }
.tiki1pilihan33b { background-position: -162px -4476px; width: 78px; height: 78px; }
.tiki1pilihan33c { background-position: -2px -4556px; width: 78px; height: 78px; }
.tiki1pilihan33d { background-position: -82px -4556px; width: 78px; height: 78px; }
.tiki1pilihan34a { background-position: -162px -4556px; width: 78px; height: 78px; }
.tiki1pilihan34b { background-position: -2px -4636px; width: 78px; height: 78px; }
.tiki1pilihan34c { background-position: -82px -4636px; width: 78px; height: 78px; }
.tiki1pilihan34d { background-position: -162px -4636px; width: 78px; height: 78px; }
.tiki1pilihan35a { background-position: -2px -4716px; width: 78px; height: 78px; }
.tiki1pilihan35b { background-position: -82px -4716px; width: 78px; height: 78px; }
.tiki1pilihan35c { background-position: -162px -4716px; width: 78px; height: 78px; }
.tiki1pilihan35d { background-position: -2px -4796px; width: 78px; height: 78px; }
.tiki1pilihan36a { background-position: -82px -4796px; width: 78px; height: 78px; }
.tiki1pilihan36b { background-position: -162px -4796px; width: 78px; height: 78px; }
.tiki1pilihan36c { background-position: -2px -4876px; width: 78px; height: 78px; }
.tiki1pilihan36d { background-position: -82px -4876px; width: 78px; height: 78px; }
.tiki1pilihan37a { background-position: -162px -4876px; width: 78px; height: 78px; }
.tiki1pilihan37b { background-position: -2px -4956px; width: 78px; height: 78px; }
.tiki1pilihan37c { background-position: -82px -4956px; width: 78px; height: 78px; }
.tiki1pilihan37d { background-position: -162px -4956px; width: 78px; height: 78px; }
.tiki1pilihan38a { background-position: -2px -5036px; width: 78px; height: 78px; }
.tiki1pilihan38b { background-position: -82px -5036px; width: 78px; height: 78px; }
.tiki1pilihan38c { background-position: -162px -5036px; width: 78px; height: 78px; }
.tiki1pilihan38d { background-position: -2px -5116px; width: 78px; height: 78px; }
.tiki1pilihan39a { background-position: -82px -5116px; width: 78px; height: 78px; }
.tiki1pilihan39b { background-position: -162px -5116px; width: 78px; height: 78px; }
.tiki1pilihan39c { background-position: -2px -5196px; width: 78px; height: 78px; }
.tiki1pilihan39d { background-position: -82px -5196px; width: 78px; height: 78px; }
.tiki1pilihan3a { background-position: -162px -5196px; width: 78px; height: 78px; }
.tiki1pilihan3b { background-position: -2px -5276px; width: 78px; height: 78px; }
.tiki1pilihan3c { background-position: -82px -5276px; width: 78px; height: 78px; }
.tiki1pilihan3d { background-position: -162px -5276px; width: 78px; height: 78px; }
.tiki1pilihan40a { background-position: -2px -5356px; width: 78px; height: 78px; }
.tiki1pilihan40b { background-position: -82px -5356px; width: 78px; height: 78px; }
.tiki1pilihan40c { background-position: -162px -5356px; width: 78px; height: 78px; }
.tiki1pilihan40d { background-position: -2px -5436px; width: 78px; height: 78px; }
.tiki1pilihan4a { background-position: -82px -5436px; width: 78px; height: 78px; }
.tiki1pilihan4b { background-position: -162px -5436px; width: 78px; height: 78px; }
.tiki1pilihan4c { background-position: -2px -5516px; width: 78px; height: 78px; }
.tiki1pilihan4d { background-position: -82px -5516px; width: 78px; height: 78px; }
.tiki1pilihan5a { background-position: -162px -5516px; width: 78px; height: 78px; }
.tiki1pilihan5b { background-position: -2px -5596px; width: 78px; height: 78px; }
.tiki1pilihan5c { background-position: -82px -5596px; width: 78px; height: 78px; }
.tiki1pilihan5d { background-position: -162px -5596px; width: 78px; height: 78px; }
.tiki1pilihan6a { background-position: -2px -5676px; width: 78px; height: 78px; }
.tiki1pilihan6b { background-position: -82px -5676px; width: 78px; height: 78px; }
.tiki1pilihan6c { background-position: -162px -5676px; width: 78px; height: 78px; }
.tiki1pilihan6d { background-position: -2px -5756px; width: 78px; height: 78px; }
.tiki1pilihan7a { background-position: -82px -5756px; width: 78px; height: 78px; }
.tiki1pilihan7b { background-position: -162px -5756px; width: 78px; height: 78px; }
.tiki1pilihan7c { background-position: -2px -5836px; width: 78px; height: 78px; }
.tiki1pilihan7d { background-position: -82px -5836px; width: 78px; height: 78px; }
.tiki1pilihan8a { background-position: -162px -5836px; width: 78px; height: 78px; }
.tiki1pilihan8b { background-position: -2px -5916px; width: 78px; height: 78px; }
.tiki1pilihan8c { background-position: -82px -5916px; width: 78px; height: 78px; }
.tiki1pilihan8d { background-position: -162px -5916px; width: 78px; height: 78px; }
.tiki1pilihan9a { background-position: -2px -5996px; width: 78px; height: 78px; }
.tiki1pilihan9b { background-position: -82px -5996px; width: 78px; height: 78px; }
.tiki1pilihan9c { background-position: -162px -5996px; width: 78px; height: 78px; }
.tiki1pilihan9d { background-position: -2px -6076px; width: 78px; height: 78px; }
/* gabungan-bagian */
.tiki2soal22, .tiki2soal12, .tiki2soal19, .tiki2soal7, .tiki2soal25, .tiki2soal11, .tiki2soal6, .tiki2soal3, .tiki2soal14, .tiki2soal18, .tiki2soal26, .tiki2soal16, .tiki2soal24, .tiki2soal17, .tiki2soal23, .tiki2soal10, .tiki2soal5, .tiki2soal2, .tiki2soal20, .tiki2soal13, .tiki2soal1, .tiki2soal21, .tiki2soal4, .tiki2soal9, .tiki2soal15, .tiki2soal8, .tiki2pilihan10a, .tiki2pilihan10b, .tiki2pilihan10c, .tiki2pilihan10d, .tiki2pilihan10e, .tiki2pilihan10f, .tiki2pilihan11a, .tiki2pilihan11b, .tiki2pilihan11c, .tiki2pilihan11d, .tiki2pilihan11e, .tiki2pilihan11f, .tiki2pilihan12a, .tiki2pilihan12b, .tiki2pilihan12c, .tiki2pilihan12d, .tiki2pilihan12e, .tiki2pilihan12f, .tiki2pilihan13a, .tiki2pilihan13b, .tiki2pilihan13c, .tiki2pilihan13d, .tiki2pilihan13e, .tiki2pilihan13f, .tiki2pilihan14a, .tiki2pilihan14b, .tiki2pilihan14c, .tiki2pilihan14d, .tiki2pilihan14e, .tiki2pilihan14f, .tiki2pilihan15a, .tiki2pilihan15b, .tiki2pilihan15c, .tiki2pilihan15d, .tiki2pilihan15e, .tiki2pilihan15f, .tiki2pilihan16a, .tiki2pilihan16b, .tiki2pilihan16c, .tiki2pilihan16d, .tiki2pilihan16e, .tiki2pilihan16f, .tiki2pilihan17a, .tiki2pilihan17b, .tiki2pilihan17c, .tiki2pilihan17d, .tiki2pilihan17e, .tiki2pilihan17f, .tiki2pilihan18a, .tiki2pilihan18b, .tiki2pilihan18c, .tiki2pilihan18d, .tiki2pilihan18e, .tiki2pilihan18f, .tiki2pilihan19a, .tiki2pilihan19b, .tiki2pilihan19c, .tiki2pilihan19d, .tiki2pilihan19e, .tiki2pilihan19f, .tiki2pilihan1a, .tiki2pilihan1b, .tiki2pilihan1c, .tiki2pilihan1d, .tiki2pilihan1e, .tiki2pilihan1f, .tiki2pilihan20a, .tiki2pilihan20b, .tiki2pilihan20c, .tiki2pilihan20d, .tiki2pilihan20e, .tiki2pilihan20f, .tiki2pilihan21a, .tiki2pilihan21b, .tiki2pilihan21c, .tiki2pilihan21d, .tiki2pilihan21e, .tiki2pilihan21f, .tiki2pilihan22a, .tiki2pilihan22b, .tiki2pilihan22c, .tiki2pilihan22d, .tiki2pilihan22e, .tiki2pilihan22f, .tiki2pilihan23a, .tiki2pilihan23b, .tiki2pilihan23c, .tiki2pilihan23d, .tiki2pilihan23e, .tiki2pilihan23f, .tiki2pilihan24a, .tiki2pilihan24b, .tiki2pilihan24c, .tiki2pilihan24d, .tiki2pilihan24e, .tiki2pilihan24f, .tiki2pilihan25a, .tiki2pilihan25b, .tiki2pilihan25c, .tiki2pilihan25d, .tiki2pilihan25e, .tiki2pilihan25f, .tiki2pilihan26a, .tiki2pilihan26b, .tiki2pilihan26c, .tiki2pilihan26d, .tiki2pilihan26e, .tiki2pilihan26f, .tiki2pilihan2a, .tiki2pilihan2b, .tiki2pilihan2c, .tiki2pilihan2d, .tiki2pilihan2e, .tiki2pilihan2f, .tiki2pilihan3a, .tiki2pilihan3b, .tiki2pilihan3c, .tiki2pilihan3d, .tiki2pilihan3e, .tiki2pilihan3f, .tiki2pilihan4a, .tiki2pilihan4b, .tiki2pilihan4c, .tiki2pilihan4d, .tiki2pilihan4e, .tiki2pilihan4f, .tiki2pilihan5a, .tiki2pilihan5b, .tiki2pilihan5c, .tiki2pilihan5d, .tiki2pilihan5e, .tiki2pilihan5f, .tiki2pilihan6a, .tiki2pilihan6b, .tiki2pilihan6c, .tiki2pilihan6d, .tiki2pilihan6e, .tiki2pilihan6f, .tiki2pilihan7a, .tiki2pilihan7b, .tiki2pilihan7c, .tiki2pilihan7d, .tiki2pilihan7e, .tiki2pilihan7f, .tiki2pilihan8a, .tiki2pilihan8b, .tiki2pilihan8c, .tiki2pilihan8d, .tiki2pilihan8e, .tiki2pilihan8f, .tiki2pilihan9a, .tiki2pilihan9b, .tiki2pilihan9c, .tiki2pilihan9d, .tiki2pilihan9e, .tiki2pilihan9f { display: inline-block; background: url('../image/gabungan-bagian/sprite-gabungan-bagian.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
.tiki2soal22 { background-position: -2px -0px; width: 257px; height: 203px; }
.tiki2soal12 { background-position: -2px -205px; width: 252px; height: 188px; }
.tiki2soal19 { background-position: -2px -395px; width: 250px; height: 161px; }
.tiki2soal7 { background-position: -2px -558px; width: 250px; height: 180px; }
.tiki2soal25 { background-position: -2px -740px; width: 249px; height: 181px; }
.tiki2soal11 { background-position: -2px -923px; width: 246px; height: 179px; }
.tiki2soal6 { background-position: -2px -1104px; width: 244px; height: 180px; }
.tiki2soal3 { background-position: -2px -1286px; width: 242px; height: 176px; }
.tiki2soal14 { background-position: -2px -1464px; width: 241px; height: 176px; }
.tiki2soal18 { background-position: -2px -1642px; width: 240px; height: 184px; }
.tiki2soal26 { background-position: -2px -1828px; width: 240px; height: 178px; }
.tiki2soal16 { background-position: -2px -2008px; width: 239px; height: 165px; }
.tiki2soal24 { background-position: -2px -2175px; width: 239px; height: 186px; }
.tiki2soal17 { background-position: -2px -2363px; width: 238px; height: 178px; }
.tiki2soal23 { background-position: -2px -2543px; width: 238px; height: 172px; }
.tiki2soal10 { background-position: -2px -2717px; width: 233px; height: 151px; }
.tiki2soal5 { background-position: -2px -2870px; width: 232px; height: 190px; }
.tiki2soal2 { background-position: -2px -3062px; width: 231px; height: 170px; }
.tiki2soal20 { background-position: -2px -3234px; width: 231px; height: 174px; }
.tiki2soal13 { background-position: -2px -3410px; width: 225px; height: 172px; }
.tiki2soal1 { background-position: -2px -3584px; width: 222px; height: 158px; }
.tiki2soal21 { background-position: -2px -3744px; width: 217px; height: 162px; }
.tiki2soal4 { background-position: -2px -3908px; width: 206px; height: 170px; }
.tiki2soal9 { background-position: -2px -4080px; width: 206px; height: 174px; }
.tiki2soal15 { background-position: -2px -4256px; width: 187px; height: 157px; }
.tiki2soal8 { background-position: -2px -4415px; width: 183px; height: 157px; }
.tiki2pilihan10a { background-position: -2px -4574px; width: 72px; height: 72px; }
.tiki2pilihan10b { background-position: -76px -4574px; width: 72px; height: 72px; }
.tiki2pilihan10c { background-position: -150px -4574px; width: 72px; height: 72px; }
.tiki2pilihan10d { background-position: -2px -4648px; width: 72px; height: 72px; }
.tiki2pilihan10e { background-position: -76px -4648px; width: 72px; height: 72px; }
.tiki2pilihan10f { background-position: -150px -4648px; width: 72px; height: 72px; }
.tiki2pilihan11a { background-position: -2px -4722px; width: 72px; height: 72px; }
.tiki2pilihan11b { background-position: -76px -4722px; width: 72px; height: 72px; }
.tiki2pilihan11c { background-position: -150px -4722px; width: 72px; height: 72px; }
.tiki2pilihan11d { background-position: -2px -4796px; width: 72px; height: 72px; }
.tiki2pilihan11e { background-position: -76px -4796px; width: 72px; height: 72px; }
.tiki2pilihan11f { background-position: -150px -4796px; width: 72px; height: 72px; }
.tiki2pilihan12a { background-position: -2px -4870px; width: 72px; height: 72px; }
.tiki2pilihan12b { background-position: -76px -4870px; width: 72px; height: 72px; }
.tiki2pilihan12c { background-position: -150px -4870px; width: 72px; height: 72px; }
.tiki2pilihan12d { background-position: -2px -4944px; width: 72px; height: 72px; }
.tiki2pilihan12e { background-position: -76px -4944px; width: 72px; height: 72px; }
.tiki2pilihan12f { background-position: -150px -4944px; width: 72px; height: 72px; }
.tiki2pilihan13a { background-position: -2px -5018px; width: 72px; height: 72px; }
.tiki2pilihan13b { background-position: -76px -5018px; width: 72px; height: 72px; }
.tiki2pilihan13c { background-position: -150px -5018px; width: 72px; height: 72px; }
.tiki2pilihan13d { background-position: -2px -5092px; width: 72px; height: 72px; }
.tiki2pilihan13e { background-position: -76px -5092px; width: 72px; height: 72px; }
.tiki2pilihan13f { background-position: -150px -5092px; width: 72px; height: 72px; }
.tiki2pilihan14a { background-position: -2px -5166px; width: 72px; height: 72px; }
.tiki2pilihan14b { background-position: -76px -5166px; width: 72px; height: 72px; }
.tiki2pilihan14c { background-position: -150px -5166px; width: 72px; height: 72px; }
.tiki2pilihan14d { background-position: -2px -5240px; width: 72px; height: 72px; }
.tiki2pilihan14e { background-position: -76px -5240px; width: 72px; height: 72px; }
.tiki2pilihan14f { background-position: -150px -5240px; width: 72px; height: 72px; }
.tiki2pilihan15a { background-position: -2px -5314px; width: 72px; height: 72px; }
.tiki2pilihan15b { background-position: -76px -5314px; width: 72px; height: 72px; }
.tiki2pilihan15c { background-position: -150px -5314px; width: 72px; height: 72px; }
.tiki2pilihan15d { background-position: -2px -5388px; width: 72px; height: 72px; }
.tiki2pilihan15e { background-position: -76px -5388px; width: 72px; height: 72px; }
.tiki2pilihan15f { background-position: -150px -5388px; width: 72px; height: 72px; }
.tiki2pilihan16a { background-position: -2px -5462px; width: 72px; height: 72px; }
.tiki2pilihan16b { background-position: -76px -5462px; width: 72px; height: 72px; }
.tiki2pilihan16c { background-position: -150px -5462px; width: 72px; height: 72px; }
.tiki2pilihan16d { background-position: -2px -5536px; width: 72px; height: 72px; }
.tiki2pilihan16e { background-position: -76px -5536px; width: 72px; height: 72px; }
.tiki2pilihan16f { background-position: -150px -5536px; width: 72px; height: 72px; }
.tiki2pilihan17a { background-position: -2px -5610px; width: 72px; height: 72px; }
.tiki2pilihan17b { background-position: -76px -5610px; width: 72px; height: 72px; }
.tiki2pilihan17c { background-position: -150px -5610px; width: 72px; height: 72px; }
.tiki2pilihan17d { background-position: -2px -5684px; width: 72px; height: 72px; }
.tiki2pilihan17e { background-position: -76px -5684px; width: 72px; height: 72px; }
.tiki2pilihan17f { background-position: -150px -5684px; width: 72px; height: 72px; }
.tiki2pilihan18a { background-position: -2px -5758px; width: 72px; height: 72px; }
.tiki2pilihan18b { background-position: -76px -5758px; width: 72px; height: 72px; }
.tiki2pilihan18c { background-position: -150px -5758px; width: 72px; height: 72px; }
.tiki2pilihan18d { background-position: -2px -5832px; width: 72px; height: 72px; }
.tiki2pilihan18e { background-position: -76px -5832px; width: 72px; height: 72px; }
.tiki2pilihan18f { background-position: -150px -5832px; width: 72px; height: 72px; }
.tiki2pilihan19a { background-position: -2px -5906px; width: 72px; height: 72px; }
.tiki2pilihan19b { background-position: -76px -5906px; width: 72px; height: 72px; }
.tiki2pilihan19c { background-position: -150px -5906px; width: 72px; height: 72px; }
.tiki2pilihan19d { background-position: -2px -5980px; width: 72px; height: 72px; }
.tiki2pilihan19e { background-position: -76px -5980px; width: 72px; height: 72px; }
.tiki2pilihan19f { background-position: -150px -5980px; width: 72px; height: 72px; }
.tiki2pilihan1a { background-position: -2px -6054px; width: 72px; height: 72px; }
.tiki2pilihan1b { background-position: -76px -6054px; width: 72px; height: 72px; }
.tiki2pilihan1c { background-position: -150px -6054px; width: 72px; height: 72px; }
.tiki2pilihan1d { background-position: -2px -6128px; width: 72px; height: 72px; }
.tiki2pilihan1e { background-position: -76px -6128px; width: 72px; height: 72px; }
.tiki2pilihan1f { background-position: -150px -6128px; width: 72px; height: 72px; }
.tiki2pilihan20a { background-position: -2px -6202px; width: 72px; height: 72px; }
.tiki2pilihan20b { background-position: -76px -6202px; width: 72px; height: 72px; }
.tiki2pilihan20c { background-position: -150px -6202px; width: 72px; height: 72px; }
.tiki2pilihan20d { background-position: -2px -6276px; width: 72px; height: 72px; }
.tiki2pilihan20e { background-position: -76px -6276px; width: 72px; height: 72px; }
.tiki2pilihan20f { background-position: -150px -6276px; width: 72px; height: 72px; }
.tiki2pilihan21a { background-position: -2px -6350px; width: 72px; height: 72px; }
.tiki2pilihan21b { background-position: -76px -6350px; width: 72px; height: 72px; }
.tiki2pilihan21c { background-position: -150px -6350px; width: 72px; height: 72px; }
.tiki2pilihan21d { background-position: -2px -6424px; width: 72px; height: 72px; }
.tiki2pilihan21e { background-position: -76px -6424px; width: 72px; height: 72px; }
.tiki2pilihan21f { background-position: -150px -6424px; width: 72px; height: 72px; }
.tiki2pilihan22a { background-position: -2px -6498px; width: 72px; height: 72px; }
.tiki2pilihan22b { background-position: -76px -6498px; width: 72px; height: 72px; }
.tiki2pilihan22c { background-position: -150px -6498px; width: 72px; height: 72px; }
.tiki2pilihan22d { background-position: -2px -6572px; width: 72px; height: 72px; }
.tiki2pilihan22e { background-position: -76px -6572px; width: 72px; height: 72px; }
.tiki2pilihan22f { background-position: -150px -6572px; width: 72px; height: 72px; }
.tiki2pilihan23a { background-position: -2px -6646px; width: 72px; height: 72px; }
.tiki2pilihan23b { background-position: -76px -6646px; width: 72px; height: 72px; }
.tiki2pilihan23c { background-position: -150px -6646px; width: 72px; height: 72px; }
.tiki2pilihan23d { background-position: -2px -6720px; width: 72px; height: 72px; }
.tiki2pilihan23e { background-position: -76px -6720px; width: 72px; height: 72px; }
.tiki2pilihan23f { background-position: -150px -6720px; width: 72px; height: 72px; }
.tiki2pilihan24a { background-position: -2px -6794px; width: 72px; height: 72px; }
.tiki2pilihan24b { background-position: -76px -6794px; width: 72px; height: 72px; }
.tiki2pilihan24c { background-position: -150px -6794px; width: 72px; height: 72px; }
.tiki2pilihan24d { background-position: -2px -6868px; width: 72px; height: 72px; }
.tiki2pilihan24e { background-position: -76px -6868px; width: 72px; height: 72px; }
.tiki2pilihan24f { background-position: -150px -6868px; width: 72px; height: 72px; }
.tiki2pilihan25a { background-position: -2px -6942px; width: 72px; height: 72px; }
.tiki2pilihan25b { background-position: -76px -6942px; width: 72px; height: 72px; }
.tiki2pilihan25c { background-position: -150px -6942px; width: 72px; height: 72px; }
.tiki2pilihan25d { background-position: -2px -7016px; width: 72px; height: 72px; }
.tiki2pilihan25e { background-position: -76px -7016px; width: 72px; height: 72px; }
.tiki2pilihan25f { background-position: -150px -7016px; width: 72px; height: 72px; }
.tiki2pilihan26a { background-position: -2px -7090px; width: 72px; height: 72px; }
.tiki2pilihan26b { background-position: -76px -7090px; width: 72px; height: 72px; }
.tiki2pilihan26c { background-position: -150px -7090px; width: 72px; height: 72px; }
.tiki2pilihan26d { background-position: -2px -7164px; width: 72px; height: 72px; }
.tiki2pilihan26e { background-position: -76px -7164px; width: 72px; height: 72px; }
.tiki2pilihan26f { background-position: -150px -7164px; width: 72px; height: 72px; }
.tiki2pilihan2a { background-position: -2px -7238px; width: 72px; height: 72px; }
.tiki2pilihan2b { background-position: -76px -7238px; width: 72px; height: 72px; }
.tiki2pilihan2c { background-position: -150px -7238px; width: 72px; height: 72px; }
.tiki2pilihan2d { background-position: -2px -7312px; width: 72px; height: 72px; }
.tiki2pilihan2e { background-position: -76px -7312px; width: 72px; height: 72px; }
.tiki2pilihan2f { background-position: -150px -7312px; width: 72px; height: 72px; }
.tiki2pilihan3a { background-position: -2px -7386px; width: 72px; height: 72px; }
.tiki2pilihan3b { background-position: -76px -7386px; width: 72px; height: 72px; }
.tiki2pilihan3c { background-position: -150px -7386px; width: 72px; height: 72px; }
.tiki2pilihan3d { background-position: -2px -7460px; width: 72px; height: 72px; }
.tiki2pilihan3e { background-position: -76px -7460px; width: 72px; height: 72px; }
.tiki2pilihan3f { background-position: -150px -7460px; width: 72px; height: 72px; }
.tiki2pilihan4a { background-position: -2px -7534px; width: 72px; height: 72px; }
.tiki2pilihan4b { background-position: -76px -7534px; width: 72px; height: 72px; }
.tiki2pilihan4c { background-position: -150px -7534px; width: 72px; height: 72px; }
.tiki2pilihan4d { background-position: -2px -7608px; width: 72px; height: 72px; }
.tiki2pilihan4e { background-position: -76px -7608px; width: 72px; height: 72px; }
.tiki2pilihan4f { background-position: -150px -7608px; width: 72px; height: 72px; }
.tiki2pilihan5a { background-position: -2px -7682px; width: 72px; height: 72px; }
.tiki2pilihan5b { background-position: -76px -7682px; width: 72px; height: 72px; }
.tiki2pilihan5c { background-position: -150px -7682px; width: 72px; height: 72px; }
.tiki2pilihan5d { background-position: -2px -7756px; width: 72px; height: 72px; }
.tiki2pilihan5e { background-position: -76px -7756px; width: 72px; height: 72px; }
.tiki2pilihan5f { background-position: -150px -7756px; width: 72px; height: 72px; }
.tiki2pilihan6a { background-position: -2px -7830px; width: 72px; height: 72px; }
.tiki2pilihan6b { background-position: -76px -7830px; width: 72px; height: 72px; }
.tiki2pilihan6c { background-position: -150px -7830px; width: 72px; height: 72px; }
.tiki2pilihan6d { background-position: -2px -7904px; width: 72px; height: 72px; }
.tiki2pilihan6e { background-position: -76px -7904px; width: 72px; height: 72px; }
.tiki2pilihan6f { background-position: -150px -7904px; width: 72px; height: 72px; }
.tiki2pilihan7a { background-position: -2px -7978px; width: 72px; height: 72px; }
.tiki2pilihan7b { background-position: -76px -7978px; width: 72px; height: 72px; }
.tiki2pilihan7c { background-position: -150px -7978px; width: 72px; height: 72px; }
.tiki2pilihan7d { background-position: -2px -8052px; width: 72px; height: 72px; }
.tiki2pilihan7e { background-position: -76px -8052px; width: 72px; height: 72px; }
.tiki2pilihan7f { background-position: -150px -8052px; width: 72px; height: 72px; }
.tiki2pilihan8a { background-position: -2px -8126px; width: 72px; height: 72px; }
.tiki2pilihan8b { background-position: -76px -8126px; width: 72px; height: 72px; }
.tiki2pilihan8c { background-position: -150px -8126px; width: 72px; height: 72px; }
.tiki2pilihan8d { background-position: -2px -8200px; width: 72px; height: 72px; }
.tiki2pilihan8e { background-position: -76px -8200px; width: 72px; height: 72px; }
.tiki2pilihan8f { background-position: -150px -8200px; width: 72px; height: 72px; }
.tiki2pilihan9a { background-position: -2px -8274px; width: 72px; height: 72px; }
.tiki2pilihan9b { background-position: -76px -8274px; width: 72px; height: 72px; }
.tiki2pilihan9c { background-position: -150px -8274px; width: 72px; height: 72px; }
.tiki2pilihan9d { background-position: -2px -8348px; width: 72px; height: 72px; }
.tiki2pilihan9e { background-position: -76px -8348px; width: 72px; height: 72px; }
.tiki2pilihan9f { background-position: -150px -8348px; width: 72px; height: 72px; }
/* abstraksi-non-verbal */
.tiki4soal1, .tiki4soal10, .tiki4soal11, .tiki4soal12, .tiki4soal13, .tiki4soal14, .tiki4soal15, .tiki4soal16, .tiki4soal17, .tiki4soal18, .tiki4soal19, .tiki4soal2, .tiki4soal20, .tiki4soal21, .tiki4soal22, .tiki4soal23, .tiki4soal24, .tiki4soal25, .tiki4soal26, .tiki4soal27, .tiki4soal28, .tiki4soal29, .tiki4soal3, .tiki4soal30, .tiki4soal4, .tiki4soal5, .tiki4soal6, .tiki4soal7, .tiki4soal8, .tiki4soal9 { max-width: 100%; background-size: 100%; background-image: url('../image/abstraksi-non-verbal/sprite-abstraksi-non-verbal-soal.png'); }
.tiki4soal1 { background-position: 0 0%; background-size: 100%; }
.tiki4soal10 { background-position: 0 3.448276%; background-size: 100%; }
.tiki4soal11 { background-position: 0 6.896552%; background-size: 100%; }
.tiki4soal12 { background-position: 0 10.344828%; background-size: 100%; }
.tiki4soal13 { background-position: 0 13.793103%; background-size: 100%; }
.tiki4soal14 { background-position: 0 17.241379%; background-size: 100%; }
.tiki4soal15 { background-position: 0 20.689655%; background-size: 100%; }
.tiki4soal16 { background-position: 0 24.137931%; background-size: 100%; }
.tiki4soal17 { background-position: 0 27.586207%; background-size: 100%; }
.tiki4soal18 { background-position: 0 31.034483%; background-size: 100%; }
.tiki4soal19 { background-position: 0 34.482759%; background-size: 100%; }
.tiki4soal2 { background-position: 0 37.931034%; background-size: 100%; }
.tiki4soal20 { background-position: 0 41.37931%; background-size: 100%; }
.tiki4soal21 { background-position: 0 44.827586%; background-size: 100%; }
.tiki4soal22 { background-position: 0 48.275862%; background-size: 100%; }
.tiki4soal23 { background-position: 0 51.724138%; background-size: 100%; }
.tiki4soal24 { background-position: 0 55.172414%; background-size: 100%; }
.tiki4soal25 { background-position: 0 58.62069%; background-size: 100%; }
.tiki4soal26 { background-position: 0 62.068966%; background-size: 100%; }
.tiki4soal27 { background-position: 0 65.517241%; background-size: 100%; }
.tiki4soal28 { background-position: 0 68.965517%; background-size: 100%; }
.tiki4soal29 { background-position: 0 72.413793%; background-size: 100%; }
.tiki4soal3 { background-position: 0 75.862069%; background-size: 100%; }
.tiki4soal30 { background-position: 0 79.310345%; background-size: 100%; }
.tiki4soal4 { background-position: 0 82.758621%; background-size: 100%; }
.tiki4soal5 { background-position: 0 86.206897%; background-size: 100%; }
.tiki4soal6 { background-position: 0 89.655172%; background-size: 100%; }
.tiki4soal7 { background-position: 0 93.103448%; background-size: 100%; }
.tiki4soal8 { background-position: 0 96.551724%; background-size: 100%; }
.tiki4soal9 { background-position: 0 100%; background-size: 100%; }
.tiki4pilihan10a, .tiki4pilihan10b, .tiki4pilihan10c, .tiki4pilihan10d, .tiki4pilihan10e, .tiki4pilihan10f, .tiki4pilihan11a, .tiki4pilihan11b, .tiki4pilihan11c, .tiki4pilihan11d, .tiki4pilihan11e, .tiki4pilihan11f, .tiki4pilihan12a, .tiki4pilihan12b, .tiki4pilihan12c, .tiki4pilihan12d, .tiki4pilihan12e, .tiki4pilihan12f, .tiki4pilihan13a, .tiki4pilihan13b, .tiki4pilihan13c, .tiki4pilihan13d, .tiki4pilihan13e, .tiki4pilihan13f, .tiki4pilihan14a, .tiki4pilihan14b, .tiki4pilihan14c, .tiki4pilihan14d, .tiki4pilihan14e, .tiki4pilihan14f, .tiki4pilihan15a, .tiki4pilihan15b, .tiki4pilihan15c, .tiki4pilihan15d, .tiki4pilihan15e, .tiki4pilihan15f, .tiki4pilihan16a, .tiki4pilihan16b, .tiki4pilihan16c, .tiki4pilihan16d, .tiki4pilihan16e, .tiki4pilihan16f, .tiki4pilihan17a, .tiki4pilihan17b, .tiki4pilihan17c, .tiki4pilihan17d, .tiki4pilihan17e, .tiki4pilihan17f, .tiki4pilihan18a, .tiki4pilihan18b, .tiki4pilihan18c, .tiki4pilihan18d, .tiki4pilihan18e, .tiki4pilihan18f, .tiki4pilihan19a, .tiki4pilihan19b, .tiki4pilihan19c, .tiki4pilihan19d, .tiki4pilihan19e, .tiki4pilihan19f, .tiki4pilihan1a, .tiki4pilihan1b, .tiki4pilihan1c, .tiki4pilihan1d, .tiki4pilihan1e, .tiki4pilihan1f, .tiki4pilihan20a, .tiki4pilihan20b, .tiki4pilihan20c, .tiki4pilihan20d, .tiki4pilihan20e, .tiki4pilihan20f, .tiki4pilihan21a, .tiki4pilihan21b, .tiki4pilihan21c, .tiki4pilihan21d, .tiki4pilihan21e, .tiki4pilihan21f, .tiki4pilihan22a, .tiki4pilihan22b, .tiki4pilihan22c, .tiki4pilihan22d, .tiki4pilihan22e, .tiki4pilihan22f, .tiki4pilihan23a, .tiki4pilihan23b, .tiki4pilihan23c, .tiki4pilihan23d, .tiki4pilihan23e, .tiki4pilihan23f, .tiki4pilihan24a, .tiki4pilihan24b, .tiki4pilihan24c, .tiki4pilihan24d, .tiki4pilihan24e, .tiki4pilihan24f, .tiki4pilihan25a, .tiki4pilihan25b, .tiki4pilihan25c, .tiki4pilihan25d, .tiki4pilihan25e, .tiki4pilihan25f, .tiki4pilihan26a, .tiki4pilihan26b, .tiki4pilihan26c, .tiki4pilihan26d, .tiki4pilihan26e, .tiki4pilihan26f, .tiki4pilihan27a, .tiki4pilihan27b, .tiki4pilihan27c, .tiki4pilihan27d, .tiki4pilihan27e, .tiki4pilihan27f, .tiki4pilihan28a, .tiki4pilihan28b, .tiki4pilihan28c, .tiki4pilihan28d, .tiki4pilihan28e, .tiki4pilihan28f, .tiki4pilihan29a, .tiki4pilihan29b, .tiki4pilihan29c, .tiki4pilihan29d, .tiki4pilihan29e, .tiki4pilihan29f, .tiki4pilihan2a, .tiki4pilihan2b, .tiki4pilihan2c, .tiki4pilihan2d, .tiki4pilihan2e, .tiki4pilihan2f, .tiki4pilihan30a, .tiki4pilihan30b, .tiki4pilihan30c, .tiki4pilihan30d, .tiki4pilihan30e, .tiki4pilihan30f, .tiki4pilihan3a, .tiki4pilihan3b, .tiki4pilihan3c, .tiki4pilihan3d, .tiki4pilihan3e, .tiki4pilihan3f, .tiki4pilihan4a, .tiki4pilihan4b, .tiki4pilihan4c, .tiki4pilihan4d, .tiki4pilihan4e, .tiki4pilihan4f, .tiki4pilihan5a, .tiki4pilihan5b, .tiki4pilihan5c, .tiki4pilihan5d, .tiki4pilihan5e, .tiki4pilihan5f, .tiki4pilihan6a, .tiki4pilihan6b, .tiki4pilihan6c, .tiki4pilihan6d, .tiki4pilihan6e, .tiki4pilihan6f, .tiki4pilihan7a, .tiki4pilihan7b, .tiki4pilihan7c, .tiki4pilihan7d, .tiki4pilihan7e, .tiki4pilihan7f, .tiki4pilihan8a, .tiki4pilihan8b, .tiki4pilihan8c, .tiki4pilihan8d, .tiki4pilihan8e, .tiki4pilihan8f, .tiki4pilihan9a, .tiki4pilihan9b, .tiki4pilihan9c, .tiki4pilihan9d, .tiki4pilihan9e, .tiki4pilihan9f { display: inline-block; background: url('../image/abstraksi-non-verbal/sprite-abstraksi-non-verbal-opsi.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
.tiki4pilihan10a { background-position: -2px -0px; width: 78px; height: 78px; }
.tiki4pilihan10b { background-position: -82px -0px; width: 78px; height: 78px; }
.tiki4pilihan10c { background-position: -162px -0px; width: 78px; height: 78px; }
.tiki4pilihan10d { background-position: -242px -0px; width: 78px; height: 78px; }
.tiki4pilihan10e { background-position: -322px -0px; width: 78px; height: 78px; }
.tiki4pilihan10f { background-position: -402px -0px; width: 78px; height: 78px; }
.tiki4pilihan11a { background-position: -482px -0px; width: 78px; height: 78px; }
.tiki4pilihan11b { background-position: -562px -0px; width: 78px; height: 78px; }
.tiki4pilihan11c { background-position: -642px -0px; width: 78px; height: 78px; }
.tiki4pilihan11d { background-position: -722px -0px; width: 78px; height: 78px; }
.tiki4pilihan11e { background-position: -802px -0px; width: 78px; height: 78px; }
.tiki4pilihan11f { background-position: -882px -0px; width: 78px; height: 78px; }
.tiki4pilihan12a { background-position: -962px -0px; width: 78px; height: 78px; }
.tiki4pilihan12b { background-position: -2px -80px; width: 78px; height: 78px; }
.tiki4pilihan12c { background-position: -82px -80px; width: 78px; height: 78px; }
.tiki4pilihan12d { background-position: -162px -80px; width: 78px; height: 78px; }
.tiki4pilihan12e { background-position: -242px -80px; width: 78px; height: 78px; }
.tiki4pilihan12f { background-position: -322px -80px; width: 78px; height: 78px; }
.tiki4pilihan13a { background-position: -402px -80px; width: 78px; height: 78px; }
.tiki4pilihan13b { background-position: -482px -80px; width: 78px; height: 78px; }
.tiki4pilihan13c { background-position: -562px -80px; width: 78px; height: 78px; }
.tiki4pilihan13d { background-position: -642px -80px; width: 78px; height: 78px; }
.tiki4pilihan13e { background-position: -722px -80px; width: 78px; height: 78px; }
.tiki4pilihan13f { background-position: -802px -80px; width: 78px; height: 78px; }
.tiki4pilihan14a { background-position: -882px -80px; width: 78px; height: 78px; }
.tiki4pilihan14b { background-position: -962px -80px; width: 78px; height: 78px; }
.tiki4pilihan14c { background-position: -2px -160px; width: 78px; height: 78px; }
.tiki4pilihan14d { background-position: -82px -160px; width: 78px; height: 78px; }
.tiki4pilihan14e { background-position: -162px -160px; width: 78px; height: 78px; }
.tiki4pilihan14f { background-position: -242px -160px; width: 78px; height: 78px; }
.tiki4pilihan15a { background-position: -322px -160px; width: 78px; height: 78px; }
.tiki4pilihan15b { background-position: -402px -160px; width: 78px; height: 78px; }
.tiki4pilihan15c { background-position: -482px -160px; width: 78px; height: 78px; }
.tiki4pilihan15d { background-position: -562px -160px; width: 78px; height: 78px; }
.tiki4pilihan15e { background-position: -642px -160px; width: 78px; height: 78px; }
.tiki4pilihan15f { background-position: -722px -160px; width: 78px; height: 78px; }
.tiki4pilihan16a { background-position: -802px -160px; width: 78px; height: 78px; }
.tiki4pilihan16b { background-position: -882px -160px; width: 78px; height: 78px; }
.tiki4pilihan16c { background-position: -962px -160px; width: 78px; height: 78px; }
.tiki4pilihan16d { background-position: -2px -240px; width: 78px; height: 78px; }
.tiki4pilihan16e { background-position: -82px -240px; width: 78px; height: 78px; }
.tiki4pilihan16f { background-position: -162px -240px; width: 78px; height: 78px; }
.tiki4pilihan17a { background-position: -242px -240px; width: 78px; height: 78px; }
.tiki4pilihan17b { background-position: -322px -240px; width: 78px; height: 78px; }
.tiki4pilihan17c { background-position: -402px -240px; width: 78px; height: 78px; }
.tiki4pilihan17d { background-position: -482px -240px; width: 78px; height: 78px; }
.tiki4pilihan17e { background-position: -562px -240px; width: 78px; height: 78px; }
.tiki4pilihan17f { background-position: -642px -240px; width: 78px; height: 78px; }
.tiki4pilihan18a { background-position: -722px -240px; width: 78px; height: 78px; }
.tiki4pilihan18b { background-position: -802px -240px; width: 78px; height: 78px; }
.tiki4pilihan18c { background-position: -882px -240px; width: 78px; height: 78px; }
.tiki4pilihan18d { background-position: -962px -240px; width: 78px; height: 78px; }
.tiki4pilihan18e { background-position: -2px -320px; width: 78px; height: 78px; }
.tiki4pilihan18f { background-position: -82px -320px; width: 78px; height: 78px; }
.tiki4pilihan19a { background-position: -162px -320px; width: 78px; height: 78px; }
.tiki4pilihan19b { background-position: -242px -320px; width: 78px; height: 78px; }
.tiki4pilihan19c { background-position: -322px -320px; width: 78px; height: 78px; }
.tiki4pilihan19d { background-position: -402px -320px; width: 78px; height: 78px; }
.tiki4pilihan19e { background-position: -482px -320px; width: 78px; height: 78px; }
.tiki4pilihan19f { background-position: -562px -320px; width: 78px; height: 78px; }
.tiki4pilihan1a { background-position: -642px -320px; width: 78px; height: 78px; }
.tiki4pilihan1b { background-position: -722px -320px; width: 78px; height: 78px; }
.tiki4pilihan1c { background-position: -802px -320px; width: 78px; height: 78px; }
.tiki4pilihan1d { background-position: -882px -320px; width: 78px; height: 78px; }
.tiki4pilihan1e { background-position: -962px -320px; width: 78px; height: 78px; }
.tiki4pilihan1f { background-position: -2px -400px; width: 78px; height: 78px; }
.tiki4pilihan20a { background-position: -82px -400px; width: 78px; height: 78px; }
.tiki4pilihan20b { background-position: -162px -400px; width: 78px; height: 78px; }
.tiki4pilihan20c { background-position: -242px -400px; width: 78px; height: 78px; }
.tiki4pilihan20d { background-position: -322px -400px; width: 78px; height: 78px; }
.tiki4pilihan20e { background-position: -402px -400px; width: 78px; height: 78px; }
.tiki4pilihan20f { background-position: -482px -400px; width: 78px; height: 78px; }
.tiki4pilihan21a { background-position: -562px -400px; width: 78px; height: 78px; }
.tiki4pilihan21b { background-position: -642px -400px; width: 78px; height: 78px; }
.tiki4pilihan21c { background-position: -722px -400px; width: 78px; height: 78px; }
.tiki4pilihan21d { background-position: -802px -400px; width: 78px; height: 78px; }
.tiki4pilihan21e { background-position: -882px -400px; width: 78px; height: 78px; }
.tiki4pilihan21f { background-position: -962px -400px; width: 78px; height: 78px; }
.tiki4pilihan22a { background-position: -2px -480px; width: 78px; height: 78px; }
.tiki4pilihan22b { background-position: -82px -480px; width: 78px; height: 78px; }
.tiki4pilihan22c { background-position: -162px -480px; width: 78px; height: 78px; }
.tiki4pilihan22d { background-position: -242px -480px; width: 78px; height: 78px; }
.tiki4pilihan22e { background-position: -322px -480px; width: 78px; height: 78px; }
.tiki4pilihan22f { background-position: -402px -480px; width: 78px; height: 78px; }
.tiki4pilihan23a { background-position: -482px -480px; width: 78px; height: 78px; }
.tiki4pilihan23b { background-position: -562px -480px; width: 78px; height: 78px; }
.tiki4pilihan23c { background-position: -642px -480px; width: 78px; height: 78px; }
.tiki4pilihan23d { background-position: -722px -480px; width: 78px; height: 78px; }
.tiki4pilihan23e { background-position: -802px -480px; width: 78px; height: 78px; }
.tiki4pilihan23f { background-position: -882px -480px; width: 78px; height: 78px; }
.tiki4pilihan24a { background-position: -962px -480px; width: 78px; height: 78px; }
.tiki4pilihan24b { background-position: -2px -560px; width: 78px; height: 78px; }
.tiki4pilihan24c { background-position: -82px -560px; width: 78px; height: 78px; }
.tiki4pilihan24d { background-position: -162px -560px; width: 78px; height: 78px; }
.tiki4pilihan24e { background-position: -242px -560px; width: 78px; height: 78px; }
.tiki4pilihan24f { background-position: -322px -560px; width: 78px; height: 78px; }
.tiki4pilihan25a { background-position: -402px -560px; width: 78px; height: 78px; }
.tiki4pilihan25b { background-position: -482px -560px; width: 78px; height: 78px; }
.tiki4pilihan25c { background-position: -562px -560px; width: 78px; height: 78px; }
.tiki4pilihan25d { background-position: -642px -560px; width: 78px; height: 78px; }
.tiki4pilihan25e { background-position: -722px -560px; width: 78px; height: 78px; }
.tiki4pilihan25f { background-position: -802px -560px; width: 78px; height: 78px; }
.tiki4pilihan26a { background-position: -882px -560px; width: 78px; height: 78px; }
.tiki4pilihan26b { background-position: -962px -560px; width: 78px; height: 78px; }
.tiki4pilihan26c { background-position: -2px -640px; width: 78px; height: 78px; }
.tiki4pilihan26d { background-position: -82px -640px; width: 78px; height: 78px; }
.tiki4pilihan26e { background-position: -162px -640px; width: 78px; height: 78px; }
.tiki4pilihan26f { background-position: -242px -640px; width: 78px; height: 78px; }
.tiki4pilihan27a { background-position: -322px -640px; width: 78px; height: 78px; }
.tiki4pilihan27b { background-position: -402px -640px; width: 78px; height: 78px; }
.tiki4pilihan27c { background-position: -482px -640px; width: 78px; height: 78px; }
.tiki4pilihan27d { background-position: -562px -640px; width: 78px; height: 78px; }
.tiki4pilihan27e { background-position: -642px -640px; width: 78px; height: 78px; }
.tiki4pilihan27f { background-position: -722px -640px; width: 78px; height: 78px; }
.tiki4pilihan28a { background-position: -802px -640px; width: 78px; height: 78px; }
.tiki4pilihan28b { background-position: -882px -640px; width: 78px; height: 78px; }
.tiki4pilihan28c { background-position: -962px -640px; width: 78px; height: 78px; }
.tiki4pilihan28d { background-position: -2px -720px; width: 78px; height: 78px; }
.tiki4pilihan28e { background-position: -82px -720px; width: 78px; height: 78px; }
.tiki4pilihan28f { background-position: -162px -720px; width: 78px; height: 78px; }
.tiki4pilihan29a { background-position: -242px -720px; width: 78px; height: 78px; }
.tiki4pilihan29b { background-position: -322px -720px; width: 78px; height: 78px; }
.tiki4pilihan29c { background-position: -402px -720px; width: 78px; height: 78px; }
.tiki4pilihan29d { background-position: -482px -720px; width: 78px; height: 78px; }
.tiki4pilihan29e { background-position: -562px -720px; width: 78px; height: 78px; }
.tiki4pilihan29f { background-position: -642px -720px; width: 78px; height: 78px; }
.tiki4pilihan2a { background-position: -722px -720px; width: 78px; height: 78px; }
.tiki4pilihan2b { background-position: -802px -720px; width: 78px; height: 78px; }
.tiki4pilihan2c { background-position: -882px -720px; width: 78px; height: 78px; }
.tiki4pilihan2d { background-position: -962px -720px; width: 78px; height: 78px; }
.tiki4pilihan2e { background-position: -2px -800px; width: 78px; height: 78px; }
.tiki4pilihan2f { background-position: -82px -800px; width: 78px; height: 78px; }
.tiki4pilihan30a { background-position: -162px -800px; width: 78px; height: 78px; }
.tiki4pilihan30b { background-position: -242px -800px; width: 78px; height: 78px; }
.tiki4pilihan30c { background-position: -322px -800px; width: 78px; height: 78px; }
.tiki4pilihan30d { background-position: -402px -800px; width: 78px; height: 78px; }
.tiki4pilihan30e { background-position: -482px -800px; width: 78px; height: 78px; }
.tiki4pilihan30f { background-position: -562px -800px; width: 78px; height: 78px; }
.tiki4pilihan3a { background-position: -642px -800px; width: 78px; height: 78px; }
.tiki4pilihan3b { background-position: -722px -800px; width: 78px; height: 78px; }
.tiki4pilihan3c { background-position: -802px -800px; width: 78px; height: 78px; }
.tiki4pilihan3d { background-position: -882px -800px; width: 78px; height: 78px; }
.tiki4pilihan3e { background-position: -962px -800px; width: 78px; height: 78px; }
.tiki4pilihan3f { background-position: -2px -880px; width: 78px; height: 78px; }
.tiki4pilihan4a { background-position: -82px -880px; width: 78px; height: 78px; }
.tiki4pilihan4b { background-position: -162px -880px; width: 78px; height: 78px; }
.tiki4pilihan4c { background-position: -242px -880px; width: 78px; height: 78px; }
.tiki4pilihan4d { background-position: -322px -880px; width: 78px; height: 78px; }
.tiki4pilihan4e { background-position: -402px -880px; width: 78px; height: 78px; }
.tiki4pilihan4f { background-position: -482px -880px; width: 78px; height: 78px; }
.tiki4pilihan5a { background-position: -562px -880px; width: 78px; height: 78px; }
.tiki4pilihan5b { background-position: -642px -880px; width: 78px; height: 78px; }
.tiki4pilihan5c { background-position: -722px -880px; width: 78px; height: 78px; }
.tiki4pilihan5d { background-position: -802px -880px; width: 78px; height: 78px; }
.tiki4pilihan5e { background-position: -882px -880px; width: 78px; height: 78px; }
.tiki4pilihan5f { background-position: -962px -880px; width: 78px; height: 78px; }
.tiki4pilihan6a { background-position: -2px -960px; width: 78px; height: 78px; }
.tiki4pilihan6b { background-position: -82px -960px; width: 78px; height: 78px; }
.tiki4pilihan6c { background-position: -162px -960px; width: 78px; height: 78px; }
.tiki4pilihan6d { background-position: -242px -960px; width: 78px; height: 78px; }
.tiki4pilihan6e { background-position: -322px -960px; width: 78px; height: 78px; }
.tiki4pilihan6f { background-position: -402px -960px; width: 78px; height: 78px; }
.tiki4pilihan7a { background-position: -482px -960px; width: 78px; height: 78px; }
.tiki4pilihan7b { background-position: -562px -960px; width: 78px; height: 78px; }
.tiki4pilihan7c { background-position: -642px -960px; width: 78px; height: 78px; }
.tiki4pilihan7d { background-position: -722px -960px; width: 78px; height: 78px; }
.tiki4pilihan7e { background-position: -802px -960px; width: 78px; height: 78px; }
.tiki4pilihan7f { background-position: -882px -960px; width: 78px; height: 78px; }
.tiki4pilihan8a { background-position: -962px -960px; width: 78px; height: 78px; }
.tiki4pilihan8b { background-position: -2px -1040px; width: 78px; height: 78px; }
.tiki4pilihan8c { background-position: -82px -1040px; width: 78px; height: 78px; }
.tiki4pilihan8d { background-position: -162px -1040px; width: 78px; height: 78px; }
.tiki4pilihan8e { background-position: -242px -1040px; width: 78px; height: 78px; }
.tiki4pilihan8f { background-position: -322px -1040px; width: 78px; height: 78px; }
.tiki4pilihan9a { background-position: -402px -1040px; width: 78px; height: 78px; }
.tiki4pilihan9b { background-position: -482px -1040px; width: 78px; height: 78px; }
.tiki4pilihan9c { background-position: -562px -1040px; width: 78px; height: 78px; }
.tiki4pilihan9d { background-position: -642px -1040px; width: 78px; height: 78px; }
.tiki4pilihan9e { background-position: -722px -1040px; width: 78px; height: 78px; }
.tiki4pilihan9f { background-position: -802px -1040px; width: 78px; height: 78px; }
/* subtest1 */
.lai1soal1, .lai1soal10, .lai1soal11, .lai1soal12, .lai1soal13, .lai1soal14, .lai1soal15, .lai1soal16, .lai1soal17, .lai1soal18, .lai1soal19, .lai1soal2, .lai1soal20, .lai1soal21, .lai1soal22, .lai1soal23, .lai1soal24, .lai1soal25, .lai1soal26, .lai1soal27, .lai1soal28, .lai1soal29, .lai1soal3, .lai1soal30, .lai1soal31, .lai1soal32, .lai1soal33, .lai1soal34, .lai1soal35, .lai1soal36, .lai1soal37, .lai1soal38, .lai1soal39, .lai1soal4, .lai1soal40, .lai1soal41, .lai1soal42, .lai1soal43, .lai1soal44, .lai1soal45, .lai1soal46, .lai1soal47, .lai1soal48, .lai1soal49, .lai1soal5, .lai1soal50, .lai1soal51, .lai1soal52, .lai1soal53, .lai1soal54, .lai1soal55, .lai1soal56, .lai1soal57, .lai1soal58, .lai1soal59, .lai1soal6, .lai1soal60, .lai1soal7, .lai1soal8, .lai1soal9 { display: inline-block; background: url('../image/subtest-1/sprite-subtest1.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
.lai1soal1 { background-position: -2px -0px; width: 260px; height: 160px; }
.lai1soal10 { background-position: -264px -0px; width: 260px; height: 160px; }
.lai1soal11 { background-position: -526px -0px; width: 260px; height: 160px; }
.lai1soal12 { background-position: -788px -0px; width: 260px; height: 160px; }
.lai1soal13 { background-position: -1050px -0px; width: 260px; height: 160px; }
.lai1soal14 { background-position: -1312px -0px; width: 260px; height: 160px; }
.lai1soal15 { background-position: -1574px -0px; width: 260px; height: 160px; }
.lai1soal16 { background-position: -2px -162px; width: 260px; height: 160px; }
.lai1soal17 { background-position: -264px -162px; width: 260px; height: 160px; }
.lai1soal18 { background-position: -526px -162px; width: 260px; height: 160px; }
.lai1soal19 { background-position: -788px -162px; width: 260px; height: 160px; }
.lai1soal2 { background-position: -1050px -162px; width: 260px; height: 160px; }
.lai1soal20 { background-position: -1312px -162px; width: 260px; height: 160px; }
.lai1soal21 { background-position: -1574px -162px; width: 260px; height: 160px; }
.lai1soal22 { background-position: -2px -324px; width: 260px; height: 160px; }
.lai1soal23 { background-position: -264px -324px; width: 260px; height: 160px; }
.lai1soal24 { background-position: -526px -324px; width: 260px; height: 160px; }
.lai1soal25 { background-position: -788px -324px; width: 260px; height: 160px; }
.lai1soal26 { background-position: -1050px -324px; width: 260px; height: 160px; }
.lai1soal27 { background-position: -1312px -324px; width: 260px; height: 160px; }
.lai1soal28 { background-position: -1574px -324px; width: 260px; height: 160px; }
.lai1soal29 { background-position: -2px -486px; width: 260px; height: 160px; }
.lai1soal3 { background-position: -264px -486px; width: 260px; height: 160px; }
.lai1soal30 { background-position: -526px -486px; width: 260px; height: 160px; }
.lai1soal31 { background-position: -788px -486px; width: 260px; height: 160px; }
.lai1soal32 { background-position: -1050px -486px; width: 260px; height: 160px; }
.lai1soal33 { background-position: -1312px -486px; width: 260px; height: 160px; }
.lai1soal34 { background-position: -1574px -486px; width: 260px; height: 160px; }
.lai1soal35 { background-position: -2px -648px; width: 260px; height: 160px; }
.lai1soal36 { background-position: -264px -648px; width: 260px; height: 160px; }
.lai1soal37 { background-position: -526px -648px; width: 260px; height: 160px; }
.lai1soal38 { background-position: -788px -648px; width: 260px; height: 160px; }
.lai1soal39 { background-position: -1050px -648px; width: 260px; height: 160px; }
.lai1soal4 { background-position: -1312px -648px; width: 260px; height: 160px; }
.lai1soal40 { background-position: -1574px -648px; width: 260px; height: 160px; }
.lai1soal41 { background-position: -2px -810px; width: 260px; height: 160px; }
.lai1soal42 { background-position: -264px -810px; width: 260px; height: 160px; }
.lai1soal43 { background-position: -526px -810px; width: 260px; height: 160px; }
.lai1soal44 { background-position: -788px -810px; width: 260px; height: 160px; }
.lai1soal45 { background-position: -1050px -810px; width: 260px; height: 160px; }
.lai1soal46 { background-position: -1312px -810px; width: 260px; height: 160px; }
.lai1soal47 { background-position: -1574px -810px; width: 260px; height: 160px; }
.lai1soal48 { background-position: -2px -972px; width: 260px; height: 160px; }
.lai1soal49 { background-position: -264px -972px; width: 260px; height: 160px; }
.lai1soal5 { background-position: -526px -972px; width: 260px; height: 160px; }
.lai1soal50 { background-position: -788px -972px; width: 260px; height: 160px; }
.lai1soal51 { background-position: -1050px -972px; width: 260px; height: 160px; }
.lai1soal52 { background-position: -1312px -972px; width: 260px; height: 160px; }
.lai1soal53 { background-position: -1574px -972px; width: 260px; height: 160px; }
.lai1soal54 { background-position: -2px -1134px; width: 260px; height: 160px; }
.lai1soal55 { background-position: -264px -1134px; width: 260px; height: 160px; }
.lai1soal56 { background-position: -526px -1134px; width: 260px; height: 160px; }
.lai1soal57 { background-position: -788px -1134px; width: 260px; height: 160px; }
.lai1soal58 { background-position: -1050px -1134px; width: 260px; height: 160px; }
.lai1soal59 { background-position: -1312px -1134px; width: 260px; height: 160px; }
.lai1soal6 { background-position: -1574px -1134px; width: 260px; height: 160px; }
.lai1soal60 { background-position: -2px -1296px; width: 260px; height: 160px; }
.lai1soal7 { background-position: -264px -1296px; width: 260px; height: 160px; }
.lai1soal8 { background-position: -526px -1296px; width: 260px; height: 160px; }
.lai1soal9 { background-position: -788px -1296px; width: 260px; height: 160px; }
/* subtest5 */
.lai5soal1, .lai5soal10, .lai5soal11, .lai5soal12, .lai5soal13, .lai5soal14, .lai5soal15, .lai5soal16, .lai5soal17, .lai5soal18, .lai5soal19, .lai5soal2, .lai5soal20, .lai5soal21, .lai5soal22, .lai5soal23, .lai5soal24, .lai5soal25, .lai5soal26, .lai5soal27, .lai5soal28, .lai5soal29, .lai5soal3, .lai5soal30, .lai5soal31, .lai5soal32, .lai5soal33, .lai5soal34, .lai5soal35, .lai5soal36, .lai5soal37, .lai5soal38, .lai5soal39, .lai5soal4, .lai5soal40, .lai5soal41, .lai5soal42, .lai5soal43, .lai5soal44, .lai5soal45, .lai5soal46, .lai5soal47, .lai5soal48, .lai5soal49, .lai5soal5, .lai5soal50, .lai5soal51, .lai5soal52, .lai5soal53, .lai5soal54, .lai5soal55, .lai5soal56, .lai5soal57, .lai5soal58, .lai5soal59, .lai5soal6, .lai5soal60, .lai5soal7, .lai5soal8, .lai5soal9 { display: inline-block; background: url('../image/subtest-5/sprite-subtest5.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
.lai5soal1 { background-position: -2px -0px; width: 250px; height: 157px; }
.lai5soal10 { background-position: -254px -0px; width: 250px; height: 166px; }
.lai5soal11 { background-position: -506px -0px; width: 250px; height: 157px; }
.lai5soal12 { background-position: -758px -0px; width: 250px; height: 153px; }
.lai5soal13 { background-position: -1010px -0px; width: 250px; height: 151px; }
.lai5soal14 { background-position: -1262px -0px; width: 250px; height: 163px; }
.lai5soal15 { background-position: -1514px -0px; width: 250px; height: 154px; }
.lai5soal16 { background-position: -1010px -153px; width: 250px; height: 157px; }
.lai5soal17 { background-position: -758px -155px; width: 250px; height: 165px; }
.lai5soal18 { background-position: -1514px -156px; width: 250px; height: 160px; }
.lai5soal19 { background-position: -2px -159px; width: 250px; height: 162px; }
.lai5soal2 { background-position: -506px -159px; width: 250px; height: 162px; }
.lai5soal20 { background-position: -1262px -165px; width: 250px; height: 156px; }
.lai5soal21 { background-position: -254px -168px; width: 250px; height: 155px; }
.lai5soal22 { background-position: -1010px -312px; width: 250px; height: 162px; }
.lai5soal23 { background-position: -1514px -318px; width: 250px; height: 164px; }
.lai5soal24 { background-position: -758px -322px; width: 250px; height: 157px; }
.lai5soal25 { background-position: -2px -323px; width: 250px; height: 161px; }
.lai5soal26 { background-position: -506px -323px; width: 250px; height: 163px; }
.lai5soal27 { background-position: -1262px -323px; width: 250px; height: 168px; }
.lai5soal28 { background-position: -254px -325px; width: 250px; height: 164px; }
.lai5soal29 { background-position: -1010px -476px; width: 250px; height: 168px; }
.lai5soal3 { background-position: -758px -481px; width: 250px; height: 169px; }
.lai5soal30 { background-position: -1514px -484px; width: 250px; height: 153px; }
.lai5soal31 { background-position: -2px -486px; width: 250px; height: 155px; }
.lai5soal32 { background-position: -506px -488px; width: 250px; height: 160px; }
.lai5soal33 { background-position: -254px -491px; width: 250px; height: 165px; }
.lai5soal34 { background-position: -1262px -493px; width: 250px; height: 160px; }
.lai5soal35 { background-position: -1514px -639px; width: 250px; height: 157px; }
.lai5soal36 { background-position: -2px -643px; width: 250px; height: 162px; }
.lai5soal37 { background-position: -1010px -646px; width: 250px; height: 157px; }
.lai5soal38 { background-position: -506px -650px; width: 250px; height: 162px; }
.lai5soal39 { background-position: -758px -652px; width: 250px; height: 157px; }
.lai5soal4 { background-position: -1262px -655px; width: 250px; height: 156px; }
.lai5soal40 { background-position: -254px -658px; width: 250px; height: 164px; }
.lai5soal41 { background-position: -1514px -798px; width: 250px; height: 157px; }
.lai5soal42 { background-position: -1010px -805px; width: 250px; height: 156px; }
.lai5soal43 { background-position: -2px -807px; width: 250px; height: 157px; }
.lai5soal44 { background-position: -758px -811px; width: 250px; height: 167px; }
.lai5soal45 { background-position: -1262px -813px; width: 250px; height: 167px; }
.lai5soal46 { background-position: -506px -814px; width: 250px; height: 164px; }
.lai5soal47 { background-position: -254px -824px; width: 250px; height: 164px; }
.lai5soal48 { background-position: -1514px -957px; width: 250px; height: 156px; }
.lai5soal49 { background-position: -1010px -963px; width: 250px; height: 166px; }
.lai5soal5 { background-position: -2px -966px; width: 250px; height: 166px; }
.lai5soal50 { background-position: -506px -980px; width: 250px; height: 165px; }
.lai5soal51 { background-position: -758px -980px; width: 250px; height: 166px; }
.lai5soal52 { background-position: -1262px -982px; width: 250px; height: 164px; }
.lai5soal53 { background-position: -254px -990px; width: 250px; height: 162px; }
.lai5soal54 { background-position: -1514px -1115px; width: 250px; height: 165px; }
.lai5soal55 { background-position: -1010px -1131px; width: 250px; height: 162px; }
.lai5soal56 { background-position: -2px -1134px; width: 250px; height: 165px; }
.lai5soal57 { background-position: -506px -1147px; width: 250px; height: 162px; }
.lai5soal58 { background-position: -1262px -1148px; width: 250px; height: 165px; }
.lai5soal59 { background-position: -758px -1148px; width: 250px; height: 157px; }
.lai5soal6 { background-position: -254px -1154px; width: 250px; height: 157px; }
.lai5soal60 { background-position: -1514px -1282px; width: 250px; height: 167px; }
.lai5soal7 { background-position: -1010px -1295px; width: 250px; height: 165px; }
.lai5soal8 { background-position: -2px -1301px; width: 250px; height: 160px; }
.lai5soal9 { background-position: -758px -1307px; width: 250px; height: 154px; }
