body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;

    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
}
.tool-option li:hover {z-index:2;position:relative;}
.grow:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
        .shrink
        {
            -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
            transform: scale(0.8);
        }

.slides {
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
      width: 100%;
}

.slide.active {
  opacity: 1;
  visibility: visible;
}

.card {
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-sizing: border-box;
	margin-bottom:0;
	padding-bottom:0;
}

@media only screen and (min-width: 601px) {
#tool-container .card {padding: 0 48px;margin-top: 24px;}
.tool-instruction {text-align:center;}
}
.card .card-title {
    overflow: hidden;
    padding: 24px 0 48px;
    text-align: right;
}
.card .card-action {
    overflow: hidden;
    padding: 16px 24px;
    margin-left: -48px;
    margin-right: -48px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.card .card-action .row {margin-bottom:0;}
a.tooltipped {
    position: relative;
    top: 3px;
}
a.tooltipped i { 	
    border-right: 1px solid #ccc;
    padding-right: 10px;
    margin-right: 10px;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
    text-decoration: none;
}

.btn:focus, .btn-large:focus, .btn-floating:focus {
    background-color:#26a69a;
}
.option-text .btn-tool.btn:hover {
    color: #333;
}

.hierarchical-timing > * {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.hierarchical-timing > .animated {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.material-tooltip {
    width: 200px;
}
.margintop40 {
    margin-top: 40px!important;
}

.back {
    background-color: red;
}

.front {
    background-color: #eee;
}
.front, .back {
    padding: 10px;
    text-align: center;
    border: 1px #333 solid;
}
.question-action-box {height:100px;}

.card .card-content.tool-instruction p {margin: 0 0 10px;}
