@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('../fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto_italic_macroman/Roboto-Italic-webfont.eot');
    src: url('../fonts/roboto/roboto_italic_macroman/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_italic_macroman/Roboto-Italic-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_italic_macroman/Roboto-Italic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_italic_macroman/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto_bold_macroman/Roboto-Bold-webfont.eot');
    src: url('../fonts/roboto/roboto_bold_macroman/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_bold_macroman/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_bold_macroman/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_bold_macroman/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.eot');
    src: url('../fonts/roboto/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto_thin_macroman/Roboto-Thin-webfont.eot');
    src: url('../fonts/roboto/roboto_thin_macroman/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_thin_macroman/Roboto-Thin-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_thin_macroman/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_thin_macroman/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: 200;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.eot');
    src: url('../fonts/roboto/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg'); (under the Apache Software License). 
    font-weight: 200;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.eot');
    src: url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: 100;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.eot');
    src: url('../fonts/roboto/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto_medium_macroman/Roboto-Medium-webfont.eot');
    src: url('../fonts/roboto/roboto_medium_macroman/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_medium_macroman/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_medium_macroman/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_medium_macroman/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: 300;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.eot');
    src: url('../fonts/roboto/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

/* Material Icons ===================================== */
@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url('../fonts/material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
        url('../fonts/material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.woff') format('woff'),
        url('../fonts/material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* General ===================================== */

body {
    font-family: 'Roboto', sans-serif;
    color: #626262;
}
.pace .pace-progress{background:#f55753;height:3px;}
.paddingtopbottom40 {padding-top:40px;padding-bottom:40px!important;}
.marginbottom20 {margin-bottom:20px!important;}
.margintop20 {margin-top:20px!important;}
.margintop40 {margin-top:40px!important;}
.btn-tool {
  background-color: #f6f6f6;
  border-color: #efefef;
}
.btn-tool:focus,
.btn-tool.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-tool:hover {
	color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-tool:active,
.btn-tool.active,
.open > .dropdown-toggle.btn-tool {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-tool:active:hover,
.btn-tool.active:hover,
.open > .dropdown-toggle.btn-tool:hover,
.btn-tool:active:focus,
.btn-tool.active:focus,
.open > .dropdown-toggle.btn-tool:focus,
.btn-tool:active.focus,
.btn-tool.active.focus,
.open > .dropdown-toggle.btn-tool.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-tool:active,
.btn-tool.active,
.open > .dropdown-toggle.btn-tool {
  background-image: none;
}
.btn-tool.btn.active {
    background: #0DAD9E;
    border-color: #0DAD9E;
	color:#fff;
}
.ma-icon::before {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.ma-icon.thumb_down:before {content: "\E8DB";}
.ma-icon.thumb_up:before {content: "\E8DC";}

.header {background-color: #21252d;padding: 0 20px;}
.header .brand {text-align: left;}

.tool-content {padding-top:60px;}
.panel .panel-heading .panel-controls {margin-top: -11px;}
.panel-footer {background-color: #fff;}
.tool-panel-body {margin:80px 0;}
.tool-statement {margin: 0 0 48px;text-align:justify;}
.tool-question img {display: block;max-width: 100%;margin: 0 auto;max-width: 100%;z-index: 1}
.tool-question .btn-tool {white-space: normal;}
.tool-option ul, .tool-option table {margin-bottom:40px;}
.tool-option[data-toggle=buttons] .btn input[type=radio], .tool-option[data-toggle=buttons] .btn input[type=checkbox],
.table.tool-option [data-toggle=buttons] .btn input[type=radio] {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

/* -- MULTIPLE CHOICE -- */
/* multiple choice - default */
.tool-option ul {list-style:none;padding-left:0;}
.tool-option ul.list-inline {text-align:center;}
.option-text {margin: 5px;padding: 0;}
/*.option-text .btn-tool {
    color: #f55753;
    display: block;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    padding-left: 38px;
	padding-top: 15px;
    padding-bottom: 15px;
}*/
.option-text .btn-tool {
    color: #f55753;
    display: block;
    text-align: left;
    padding-left: 38px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: none;
    height: auto;
    line-height: 1.42857143;
	position: relative;
}
.option-text .order-alpha {
    position: absolute;
    left: 10px;
    background-color: rgba(0,0,0,0.1);
    font-size: 11px;
    text-transform: uppercase;
    opacity: .7;
    color: #626262;
    padding: 3px 5px;
    line-height: 1em;
}
.btn-tool.btn.active .order-alpha {color:#ffffff;}

/* multiple choice - short text and img */
.option-text.option-numeric, .option-text.option-img {padding: 0;}
.option-text.option-numeric .btn-tool, .option-text.option-img .btn-tool {
    width: 80px;
    height: 102px;
    line-height: 22px;
    padding: 0 0 17px;
    font-size: 20px;
	display: table;
	text-align:center;
}
.option-text.option-numeric .option-item, .option-text.option-img .option-item {
    width: 78px;
    height: 78px;
	display: table-cell;
	vertical-align: middle;
}
.option-text.option-numeric .order-alpha, .option-text.option-img .order-alpha {
    left: 0;
    right: 0;
    bottom: 0;
}

/* multiple choice - img */
.option-text.option-img .option-item  img {margin:0 auto;}


/* multiple choice - Radio Grid */
.table.tool-option {border: 4px solid #fff;}
.table.tool-option>tbody>tr>td, .table.tool-option>thead>tr>th {
    border: 4px solid #fff;
    padding: 0;
}
.table.tool-option>thead>tr>th.option-label, .table.tool-option>thead>tr>th.statement-label {
    font-size: 11px;
    text-align: center;
}
.table.tool-option>thead>tr>th.option-label {
    width: 64px;
    padding-left: 0!important;
}

.table.tool-option>tbody>tr>td .btn {width: 60px;height: 60px;}
.table>tbody>tr>td.option-statement {
    vertical-align: middle;
    background-color: #f6f6f6;
	padding: 0 20px;
    font-size: 16px;
}
.table.tool-option>tbody>tr>td.option-item .btn-tool {
    vertical-align: middle;
    font-size: 24px;
    display: table-cell;
    color: #999999;
    background-color: #E6E6E6;
    border-color: #E6E6E6;
    padding: 10px 0 0;
}
.table.tool-option>tbody>tr>td.option-item .btn-tool.active {
background: #0DAD9E;
    border-color: #0DAD9E;
    color: #fff;
}
.table.tool-option>tbody>tr>td.option-item .btn-tool.thumb_down.active {
    background: #f55753;
    border-color: #f55753;
    color: #fff;
}

/* WPA Tool */
.wpa-statement-label {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    opacity: .7;
    display: inline-block;
    padding: 0 0 0 20px;
}
.wpa-option-label {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    opacity: .7;
    display: inline-block;
    margin: 0 5px;
    width: 60px;
    text-align: center;
}
.wpa-question li, .wpa-question-label {padding: 10px;}
.wpa-option {display: inline-block;padding: 0 5px;}
.wpa-option .btn {width: 60px;height: 60px;}
.wpa-statement {display: inline-block;padding: 0 0 0 20px;font-size: 18px;}


@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes moveInFromLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes moveInFromLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes moveOutToLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@keyframes moveOutToLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@-webkit-keyframes moveInFromRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes moveInFromRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes moveOutToRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
}

@keyframes moveOutToRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
}

.tool-content .container {
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    transition-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.is-exiting .tool-content .container {
    transition-timing-function: ease-out;
}

#tool-container[data-transition=fade] .tool-content .container {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

#tool-container[data-transition=fade].is-exiting .tool-content .container {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

#tool-container[data-transition=moveleft] .tool-content .container {
    -webkit-animation-name: moveInFromLeft;
    animation-name: moveInFromLeft;
}

#tool-container[data-transition=moveleft].is-exiting .tool-content .container {
    -webkit-animation-name: moveOutToRight;
    animation-name: moveOutToRight;
}

#tool-container[data-transition=moveright] .tool-content .container {
    -webkit-animation-name: moveInFromRight;
    animation-name: moveInFromRight;
}

#tool-container[data-transition=moveright].is-exiting .tool-content .container {
    -webkit-animation-name: moveOutToLeft;
    animation-name: moveOutToLeft;
}

/* Content Animations */
.option-text:nth-child(1) {-webkit-animation-delay: 0.2s; animation-delay: 0.2s; }
.option-text:nth-child(2) {-webkit-animation-delay: 0.3s; animation-delay: 0.3s; }
.option-text:nth-child(3) {-webkit-animation-delay: 0.4s; animation-delay: 0.4s; }
.option-text:nth-child(4) {-webkit-animation-delay: 0.5s; animation-delay: 0.5s; }
.option-text:nth-child(5) {-webkit-animation-delay: 0.6s; animation-delay: 0.6s; }
.option-text:nth-child(6) {-webkit-animation-delay: 0.7s; animation-delay: 0.7s; }
.option-text:nth-child(7) {-webkit-animation-delay: 0.8s; animation-delay: 0.8s; }
.option-text:nth-child(8) {-webkit-animation-delay: 0.9s; animation-delay: 0.9s; }

 /*.option-text:hover {
   -webkit-animation: bounce 1s both;
    animation: bounce 1s both;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
}*/

@media (max-width: 360px) {

.tool-question {
    width: 300px;
    margin: 0 auto;
}
.tool-question h3 {
    margin: 80px 0 40px;
    font-size: 18px;
    line-height: 26px;
}
.tool-option ul {
    width: 270px;
    margin: 0 auto;
}

.option-text .btn {
    width: 125px;
    height: 125px;
}
}


label#checkboxs {
  position: relative;
  display:inline-block;
  cursor: pointer;
  width: 150px;
  height: 32px;
  font-size:16px;
  line-height:32px;
  font-family: sans-serif;
}

label#checkboxs input {
  display:none;
}

label#checkboxs:before, label#checkboxs:after {
  position: absolute;
  content: '';
  right:0;
  width: 32px;
  height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 solid transparent;
  border-bottom: 3px solid #a00;
  margin-top: 16px;
  transition: all 300ms;
  transform: rotate(-135deg);
}
label#checkboxs:after {
  transform: rotate(135deg);
}
label#checkboxs.checked:before, label#checkboxs.checked:after {
  border-color: #B4B521;
  width: 28px;
  margin-top: 16px;
  margin-left: 8px;
  border-bottom-width: 3px;
  transform: rotate(-45deg);
}
label#checkboxs.checked:after {
  width: 16px;
  margin-top: 20px;
  right:20px;
  transform: rotate(45deg);
}

.shrink:hover
{
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;

    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
}
.tool-option li:hover {z-index:2;position:relative;}
.grow:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
        .shrink
        {
            -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
            transform: scale(0.8);
        }

.slides {
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
      width: 100%;
}

.slide.active {
  opacity: 1;
  visibility: visible;
}

.card {
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-sizing: border-box;
	margin-bottom:0;
	padding-bottom:0;
}

@media only screen and (min-width: 601px) {
#tool-container .card {padding: 0 48px;margin-top: 24px;}
.tool-instruction {text-align:center;}
}
.card .card-title {
    overflow: hidden;
    padding: 24px 0 48px;
    text-align: right;
}
.card .card-action {
    overflow: hidden;
    padding: 16px 24px;
    margin-left: -48px;
    margin-right: -48px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.card .card-action .row {margin-bottom:0;}
a.tooltipped {
    position: relative;
    top: 3px;
}
a.tooltipped i {
    border-right: 1px solid #ccc;
    padding-right: 10px;
    margin-right: 10px;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
    text-decoration: none;
}

.btn:focus, .btn-large:focus, .btn-floating:focus {
    background-color:#26a69a;
}
.option-text .btn-tool.btn:hover {
    color: #333;
}

.hierarchical-timing > * {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.hierarchical-timing > .animated {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.material-tooltip {
    width: 200px;
}
.margintop40 {
    margin-top: 40px!important;
}

.back {
    background-color: red;
}

.front {
    background-color: #eee;
}
.front, .back {
    padding: 10px;
    text-align: center;
    border: 1px #333 solid;
}
.question-action-box {height:120px;}

.card .card-content.tool-instruction p {margin: 0 0 10px;}

/* order alpha temporary hidden */
span.order-alpha {display: none;}
.option-text.option-numeric .btn-tool, .option-text.option-img .btn-tool {padding:0;}
.question-action span {padding-top:10px;display:block;font-size:12px;}
.panel-hint {margin-top: -40px;display:none;}
.btn-tool.btn.active.opt-false {
    background: #f55753;
    border-color: #f55753;
    color: #fff;
}
.option-hint {
    text-transform: uppercase;
    position: relative;
    padding-right: 25px;
	display:none;
}
.option-hint .material-icons {
    display: inline;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: -3px;
    font-weight: bold;
}
.tool-instruction img {border: 2px solid #f5f5f5;}
.tool-instruction img.no-border {border: none;}

/* Page Loader ================================= */
.page-loader-wrapper {
  z-index: 99999999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #eee;
  overflow: hidden;
  text-align: center; }
  .page-loader-wrapper p {
    font-size: 13px;
    margin-top: 10px;
    font-weight: bold;
    color: #444; }
  .page-loader-wrapper .loader {
    position: relative;
    top: calc(50% - 30px); }

/* Preloaders ================================== */
.md-preloader .pl-red {
  stroke: #F44336; }

.md-preloader .pl-pink {
  stroke: #E91E63; }

.md-preloader .pl-purple {
  stroke: #9C27B0; }

.md-preloader .pl-deep-purple {
  stroke: #673AB7; }

.md-preloader .pl-indigo {
  stroke: #3F51B5; }

.md-preloader .pl-blue {
  stroke: #2196F3; }

.md-preloader .pl-light-blue {
  stroke: #03A9F4; }

.md-preloader .pl-cyan {
  stroke: #00BCD4; }

.md-preloader .pl-teal {
  stroke: #009688; }

.md-preloader .pl-green {
  stroke: #4CAF50; }

.md-preloader .pl-light-green {
  stroke: #8BC34A; }

.md-preloader .pl-lime {
  stroke: #CDDC39; }

.md-preloader .pl-yellow {
  stroke: #ffe821; }

.md-preloader .pl-amber {
  stroke: #FFC107; }

.md-preloader .pl-orange {
  stroke: #FF9800; }

.md-preloader .pl-deep-orange {
  stroke: #FF5722; }

.md-preloader .pl-brown {
  stroke: #795548; }

.md-preloader .pl-grey {
  stroke: #9E9E9E; }

.md-preloader .pl-blue-grey {
  stroke: #607D8B; }

.md-preloader .pl-black {
  stroke: #000000; }

.md-preloader .pl-white {
  stroke: #ffffff; }

.preloader {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  -webkit-animation: container-rotate 1568ms linear infinite;
  -moz-animation: container-rotate 1568ms linear infinite;
  -o-animation: container-rotate 1568ms linear infinite;
  animation: container-rotate 1568ms linear infinite; }
  .preloader.pl-size-xl {
    width: 75px;
    height: 75px; }
  .preloader.pl-size-l {
    width: 60px;
    height: 60px; }
  .preloader.pl-size-md {
    width: 50px;
    height: 50px; }
  .preloader.pl-size-sm {
    width: 40px;
    height: 40px; }
  .preloader.pl-size-xs {
    width: 25px;
    height: 25px; }

.spinner-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  border-color: #F44336;
  -ms-opacity: 1;
  opacity: 1;
  -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  -moz-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  -o-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }
  .spinner-layer.pl-red {
    border-color: #F44336; }
  .spinner-layer.pl-pink {
    border-color: #E91E63; }
  .spinner-layer.pl-purple {
    border-color: #9C27B0; }
  .spinner-layer.pl-deep-purple {
    border-color: #673AB7; }
  .spinner-layer.pl-indigo {
    border-color: #3F51B5; }
  .spinner-layer.pl-blue {
    border-color: #2196F3; }
  .spinner-layer.pl-light-blue {
    border-color: #03A9F4; }
  .spinner-layer.pl-cyan {
    border-color: #00BCD4; }
  .spinner-layer.pl-teal {
    border-color: #009688; }
  .spinner-layer.pl-green {
    border-color: #26a69a; }
  .spinner-layer.pl-light-green {
    border-color: #8BC34A; }
  .spinner-layer.pl-lime {
    border-color: #CDDC39; }
  .spinner-layer.pl-yellow {
    border-color: #ffe821; }
  .spinner-layer.pl-amber {
    border-color: #FFC107; }
  .spinner-layer.pl-orange {
    border-color: #FF9800; }
  .spinner-layer.pl-deep-orange {
    border-color: #FF5722; }
  .spinner-layer.pl-brown {
    border-color: #795548; }
  .spinner-layer.pl-grey {
    border-color: #9E9E9E; }
  .spinner-layer.pl-blue-grey {
    border-color: #607D8B; }
  .spinner-layer.pl-black {
    border-color: #000000; }
  .spinner-layer.pl-white {
    border-color: #ffffff; }
